.popover {
  --_popover-bg: var(--color-surface-container);
  --_popover-color: var(--colol-on-surface);

  background-color: var(--_popover-bg);
  color: var(--_popover-color);

  padding-inline: 0.5em;
  padding-block: 0.5em;
  overflow: auto;

  max-inline-size: min(90vi, 50rem);
  min-inline-size: min(25vi, 10rem);

  box-shadow: var(--elevation-2);
  border-radius: var(--radius);

  transition:
    transform 250ms,
    opacity 250ms;
  transform: translate3d(0, 0, 0);

  &[data-placement="bottom"] {
    --_origin: translateY(-0.25rem);
  }

  &[data-placement="top"] {
    --_origin: translateY(0.25rem);
  }

  &[data-placement="right"] {
    --_origin: translateX(-0.25rem);
  }

  &[data-placement="left"] {
    --_origin: translateX(0.25rem);
  }

  &[data-entering],
  &[data-exiting] {
    transform: var(--_origin);
    opacity: 0;
  }
}
