@layer adgytec.comps {
    .slider {
        display: grid;
        gap: var(--md-sys-layout-space-4);
        block-size: 100%;
    }

    .track {
        background-color: red;
        border-radius: var(--track-shape);

        &[data-orientation="horizontal"] {
            inline-size: 100%;
            block-size: var(--track-size);
        }

        &[data-orientation="vertical"] {
            block-size: 100%;
            inline-size: var(--track-size);
        }
    }

    .extra-small {
        --track-shape: var(--md-sys-shape-corner-radius-small);
        --track-size: var(--md-sys-layout-space-16);
    }

    .small {
        --track-shape: var(--md-sys-shape-corner-radius-small);
        --track-size: var(--md-sys-layout-space-24);
    }

    .medium {
        --track-shape: var(--md-sys-shape-corner-radius-medium);
        --track-size: var(--md-sys-layout-space-40);
    }

    .large {
        --track-shape: var(--md-sys-shape-corner-radius-large);
        --track-size: var(--md-sys-layout-space-56);
    }

    .extra-large {
        --track-shape: var(--md-sys-shape-corner-radius-extra-large);
        --track-size: var(--md-sys-layout-space-96);
    }
}
