@layer adgytec.comps {
    .visual-track {
        position: absolute;
        inset: 0;
        z-index: 0;

        border-radius: var(--_md-slider-track-shape);

        display: flex;
        gap: var(--_track-gap);

        &[data-orientation="horizontal"] {
            inset-inline: var(--_orientation-inset);
        }

        &[data-orientation="vertical"] {
            flex-direction: column-reverse;
            inset-block: var(--_orientation-inset);
        }
    }

    .active-track {
        background-color: var(--_active-track-color);
        border-radius: var(--_md-slider-track-shape);

        &[data-orientation="horizontal"] {
            border-start-end-radius: var(--_md-slider-track-inner-shape);
            border-end-end-radius: var(--_md-slider-track-inner-shape);
        }

        &[data-orientation="vertical"] {
            border-start-end-radius: var(--_md-slider-track-inner-shape);
            border-start-start-radius: var(--_md-slider-track-inner-shape);
        }
    }

    .inactive-track {
        background-color: var(--_inactive-track-color);
        border-radius: var(--_md-slider-track-shape);

        &[data-orientation="horizontal"] {
            border-start-start-radius: var(--_md-slider-track-inner-shape);
            border-end-start-radius: var(--_md-slider-track-inner-shape);
        }

        &[data-orientation="vertical"] {
            border-end-end-radius: var(--_md-slider-track-inner-shape);
            border-end-start-radius: var(--_md-slider-track-inner-shape);
        }
    }

    .icon {
        --_min-icon-gap: calc(var(--_track-gap) / 1.5);

        position: absolute;

        color: var(--md-slider-icon-color);
        transition: color var(--md-sys-motion-standard-fast-spatial)
            var(--md-sys-motion-standard-fast-spatial-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }

        &[data-minimum-value] {
            color: var(--md-slider-minimum-value-icon-color);
        }

        &[data-disabled] {
            color: rgb(
                from var(--md-sys-color-inverse-on-surface) r g b /
                var(--md-sys-state-disabled-content)
            );

            &[data-minimum-value] {
                color: rgb(
                    from var(--md-sys-color-on-surface) r g b /
                    var(--md-sys-state-disabled-container)
                );
            }
        }

        &[data-orientation="horizontal"] {
            inset-block-start: 50%;
            translate: 0 -50%;

            &[data-minimum-value] {
                inset-inline-start: var(--_min-icon-gap);
            }
        }

        &[data-orientation="vertical"] {
            inset-block-end: 0;
            inset-inline-start: 50%;
            translate: -50% 0;

            &[data-minimum-value] {
                inset-block-end: var(--_min-icon-gap);
            }
        }
    }
}
