@layer adgytec.comps {
    .visual-track {
        position: absolute;
        inset: 0;
        z-index: 0;

        border-radius: var(--track-shape);

        display: flex;
        gap: var(--track-gap);

        &[data-orientation="horizontal"] {
            inset-inline: var(--orientation-inset);
        }

        &[data-orientation="vertical"] {
            flex-direction: column-reverse;
            inset-block: var(--orientation-inset);
        }

        > div {
            transition: flex-grow var(--motion-spatial) var(--motion-duration);

            @media (prefers-reduced-motion) {
                transition: none;
            }
        }
    }

    .active-track {
        background-color: var(--track-active-color);
        border-radius: var(--track-shape);

        &[data-orientation="horizontal"] {
            border-start-end-radius: var(--track-inner-shape);
            border-end-end-radius: var(--track-inner-shape);
        }

        &[data-orientation="vertical"] {
            border-start-end-radius: var(--track-inner-shape);
            border-start-start-radius: var(--track-inner-shape);
        }
    }

    .inactive-track {
        background-color: var(--track-inactive-color);
        border-radius: var(--track-shape);

        &[data-orientation="horizontal"] {
            border-start-start-radius: var(--track-inner-shape);
            border-end-start-radius: var(--track-inner-shape);
        }

        &[data-orientation="vertical"] {
            border-end-end-radius: var(--track-inner-shape);
            border-end-start-radius: var(--track-inner-shape);
        }
    }
}
