:root {
    /* =========================================
     ICON TOKENS
     ========================================= */
    --md-sys-icon-size-small: calc(18 * var(--dp));
    --md-sys-icon-size-medium: calc(24 * var(--dp));
    --md-sys-icon-size-large: calc(32 * var(--dp));
    --md-sys-icon-size-xlarge: calc(40 * var(--dp));

    --md-sys-icon-stroke-light: calc(1.5 * var(--dp));
    --md-sys-icon-stroke-regular: calc(2 * var(--dp));
    --md-sys-icon-stroke-bold: calc(3 * var(--dp));
}
