@layer adgytec.comps {
    .output {
        position: absolute;

        padding-block: var(--md-sys-layout-space-12);
        padding-inline: var(--md-sys-layout-space-16);

        background-color: var(--_md-slider-output-background);
        color: var(--_md-slider-output-color);
        border-radius: var(--md-sys-shape-corner-radius-full);

        &[data-orientation="horizontal"] {
            inset-block-end: 100%;
            inset-inline-start: 50%;
            translate: -50% calc(-4 * var(--dp, 1px));

            transform-origin: bottom;
        }

        &[data-orientation="vertical"] {
            inset-inline-end: 100%;
            inset-block-start: 50%;
            translate: calc(-4 * var(--dp, 1px)) -50%;

            transform-origin: right;
        }

        scale: 0;
        opacity: 0;

        transition:
            scale var(--md-sys-motion-expressive-fast-spatial)
            var(--md-sys-motion-expressive-fast-spatial-duration),
            opacity var(--md-sys-motion-expressive-fast-effects)
            var(--md-sys-motion-expressive-fast-effects-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }

        &[data-dragging],
        &[data-focus-visible] {
            scale: 1;
            opacity: 1;
        }
    }
}
