@layer adgytec.comps {
    .checkbox-group {
        display: grid;
        gap: var(--md-sys-layout-space-16);

        &[data-disabled] {
            color: rgb(
                from currentcolor r g b /
                var(--md-sys-state-disabled-content)
            );
            cursor: default;
        }
    }

    .checkbox-items {
        display: inline-grid;
    }

    .checkbox {
        /* state layer */
        --_state-opacity: 0;
        --_state-color: var(--md-sys-color-on-surface);

        --state-color: rgb(
            from var(--_state-color) r g b /
            var(--_state-opacity)
        );

        /* styles */
        position: relative;

        display: inline-flex;
        gap: var(--md-sys-layout-space-16);
        align-items: center;

        color: inherit;
        cursor: pointer;

        & * {
            cursor: inherit;
        }

        &[data-invalid] {
            --_state-color: var(--md-sys-color-error);
        }

        &[data-selected],
        &[data-indeterminate] {
            --_state-color: var(--md-sys-color-primary);

            &[data-invalid] {
                --_state-color: var(--md-sys-color-error);
            }
        }

        &[data-disabled] {
            color: rgb(
                from currentColor r g b /
                var(--md-sys-state-disabled-content)
            );
            cursor: default;
        }

        /* state opacity */
        &[data-hovered] {
            --_state-opacity: var(--md-sys-state-hover);
            z-index: 1;
        }

        &[data-focus-visible] {
            --_state-opacity: var(--md-sys-state-focus);
            z-index: 1;
        }

        &[data-pressed] {
            --_state-opacity: var(--md-sys-state-pressed);
        }
    }

    .state-layer::before {
        content: "";

        position: absolute;
        inset: calc(-1 * var(--md-sys-layout-space-12));

        background-color: var(--state-color);
        border-radius: var(--md-sys-shape-corner-radius-extra-small);

        pointer-events: none;

        transition: background-color
            var(--md-sys-motion-expressive-fast-effects)
            var(--md-sys-motion-expressive-fast-effects-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }

    .indicator {
        /* size */
        --container-size: calc(18 * var(--dp, 1px));
        --container-shape: calc(2 * var(--dp, 1px));

        /* outline */
        --container-outline-thickness: var(--md-sys-shape-border-width-thick);

        --container-outline-unselected-color: var(--md-sys-color-on-surface);
        --container-outline-unselected-error-color: var(--md-sys-color-error);

        /* color */
        --container-selected-color: var(--md-sys-color-primary);
        --container-selected-error-color: var(--md-sys-color-error);

        /* enabled */
        --container-outline-enabled-unselected-color: var(
            --md-sys-color-on-surface-variant
        );

        /* disabled */
        --container-disabled-base-color: rgb(
            from var(--md-sys-color-on-surface) r g b /
            var(--md-sys-state-disabled-content)
        );

        /* derived states */
        --outline-color: var(--container-outline-enabled-unselected-color);
        --color: transparent;

        --icon-color: var(--md-sys-color-on-primary);

        /* styles */
        position: relative;

        inline-size: var(--container-size);
        aspect-ratio: 1;
        border-radius: var(--container-shape);

        background-color: var(--color);
        border: var(--container-outline-thickness) solid var(--outline-color);

        transition:
            background-color var(--md-sys-motion-expressive-default-effects)
            var(--md-sys-motion-expressive-default-effects-duration),
            border-color var(--md-sys-motion-expressive-default-effects)
            var(--md-sys-motion-expressive-default-effects-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }

        &[data-invalid] {
            --outline-color: var(--container-outline-unselected-error-color);
            --icon-color: var(--md-sys-color-on-error);
        }

        &[data-selected],
        &[data-indeterminate] {
            --outline-color: transparent;
            --color: var(--container-selected-color);

            &[data-invalid] {
                --color: var(--container-selected-error-color);
            }
        }

        &[data-disabled] {
            --outline-color: var(--container-disabled-base-color);
            --icon-color: var(--md-sys-color-surface);

            &[data-selected],
            &[data-indeterminate] {
                --outline-color: transparent;
                --color: var(--container-disabled-base-color);
            }
        }

        &[data-focus-visible],
        &[data-hovered],
        &[data-pressed] {
            &:not([data-invalid]) {
                --outline-color: var(--container-outline-unselected-color);
            }

            &[data-selected],
            &[data-indeterminate] {
                --outline-color: transparent;
            }
        }
    }

    /* state layer */
    .indicator::before {
        --state-size: calc(40 * var(--dp, 1px));

        content: "";

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        inline-size: var(--state-size);
        aspect-ratio: 1 / 1;
        border-radius: var(--md-sys-shape-corner-radius-full);

        background-color: var(--state-color);

        transition: background-color
            var(--md-sys-motion-expressive-default-effects)
            var(--md-sys-motion-expressive-default-effects-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }

    .indicator[data-focus-visible] {
        --focus-indicator-thickness: calc(3 * var(--dp, 1px));
        --focus-indicator-offset: calc(2 * var(--dp, 1px));
        --focus-indicator-color: var(--md-sys-color-secondary);

        outline-width: var(--focus-indicator-thickness);
        outline-style: solid;
        outline-offset: var(--focus-indicator-offset);
        outline-color: var(--focus-indicator-color);
    }

    /* https://react-aria.adobe.com/Checkbox */
    /* ref this for check animation */
    .svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: calc(12 * var(--dp, 1px));
        aspect-ratio: 1 / 1;
        fill: none;

        stroke: var(--icon-color);

        stroke-width: calc(3 * var(--dp, 1px));
        stroke-dasharray: calc(22 * var(--dp, 1px));
        stroke-dashoffset: 66;
        stroke-linecap: round;
        stroke-linejoin: round;

        transition: stroke-dashoffset
            var(--md-sys-motion-expressive-default-effects)
            var(--md-sys-motion-expressive-default-effects-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }

        &[data-selected] {
            stroke-dashoffset: 44;
        }

        &[data-indeterminate] {
            stroke: none;
            fill: var(--icon-color);
        }
    }
}
