@layer adgytec.comps {
    .grid {
        padding-inline: var(--md-sys-layout-space-12);
        border-spacing: 0;
    }

    .header {
        color: var(--_md-calendar-header-cell-color);
    }

    .header::after {
        content: "";
        display: block;
        block-size: var(--md-sys-layout-space-4);
    }

    .header-cell {
        inline-size: var(--_md-calendar-cell-size);
        block-size: var(--_md-calendar-cell-size);
    }
}
