.button {
  --_button-color: transparent;
  --_button-text: transparent;
  --_border-color: var(--_button-color);

  border-radius: var(--_radius);
  cursor: pointer;
  border: 0.125rem solid var(--_border-color);

  font-weight: 500;
  text-align: center;

  padding-inline: var(--_pi);
  padding-block: var(--_pb);

  background-color: var(--_bg);
  color: var(--_color);
  position: relative;
  overflow: hidden;

  transition:
    background-color 250ms,
    color 250ms;

  &[data-hovered],
  &[data-focused] {
    --_bg: hsl(from var(--_button-color) h s calc(l + 10));
    --_color: hsl(from var(--_button-text) h s calc(l + 10));
  }

  &[data-pressed] {
    --_bg: hsl(from var(--_button-color) h s calc(l - 5));
    --_color: hsl(from var(--_button-text) h s calc(l - 5));
  }
}

.button-link {
  text-underline-offset: 0.125em;
  text-decoration-thickness: 0.075em;
  text-decoration-color: transparent;

  &[data-hovered],
  &[data-focused] {
    text-decoration-color: currentColor;
  }

  &[data-underline] {
    text-decoration-color: currentColor;
  }
}

/* button shape */
.square {
  --_pi: 0.625em;
  --_pb: 0.625em;

  aspect-ratio: 1/1;
  --_radius: var(--radius-circular);
}

.avatar {
  --_pi: 0.125em;
  --_pb: 0.125em;

  aspect-ratio: 1/1;
  --_radius: var(--radius-circular);
}

.rectangle {
  --_pi: 1.125em;
  --_pb: 0.625em;
  --_radius: var(--radius-button);
}

.shrink {
  --_pi: 0;
  --_pb: 0;
}

/* button theme */
.primary {
  --_button-color: var(--color-primary);
  --_button-text: var(--color-on-primary);
}

.primary-variant {
  --_button-color: var(--color-primary-variant);
  --_button-text: var(--color-on-primary-variant);
}

.secondary {
  --_button-color: var(--color-secondary);
  --_button-text: var(--color-on-secondary);
}

.tertiary {
  --_button-color: var(--color-tertiary);
  --_button-text: var(--color-on-tertiary);
}

.error {
  --_button-color: var(--color-error);
  --_button-text: var(--color-on-error);
}

.inverse-surface {
  --_button-color: var(--color-inverse-surface);
  --_button-text: var(--color-inverse-on-surface);
}

.success {
  --_button-color: var(--color-success);
  --_button-text: var(--color-on-success);
}

/* button variant */
.filled {
  --_bg: var(--_button-color);
  --_color: var(--_button-text);
}

.outlined {
  --_bg: transparent;
  --_color: var(--_button-color);
}

.text {
  --_bg: transparent;
  --_border-color: transparent;
  --_color: var(--_button-color);
}
