.button {
  --_button-color: transparent;
  --_button-text: transparent;
  --_border-color: var(--_button-color);

  cursor: pointer;

  font-weight: 500;

  padding-inline: var(--_pi);
  padding-block: var(--_pb);

  border: 0.125rem solid var(--_border-color);

  background-color: var(--_bg);
  color: var(--_color);
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 0.75rem;
  justify-content: space-between;

  transition:
    background-color 250ms,
    color 250ms;

  &[data-hovered],
  &[data-focused] {
    --_bg: hsl(from var(--_button-color) h s calc(l + 10));
    --_color: hsl(from var(--_button-text) h s calc(l + 10));
  }

  &[data-pressed] {
    --_bg: hsl(from var(--_button-color) h s calc(l - 5));
    --_color: hsl(from var(--_button-text) h s calc(l - 5));
  }
}

.button-link {
  text-underline-offset: 0.125em;
  text-decoration-thickness: 0.075em;
}

/* button shape */
.square {
  --_pi: 0.625em;
  --_pb: 0.625em;

  aspect-ratio: 1/1;
}

.rectangle {
  --_pi: 1.125em;
  --_pb: 0.625em;
}

/* button theme */
.primary {
  --_button-color: var(--color-primary);
  --_button-text: var(--color-on-primary);
}

.primary-variant {
  --_button-color: var(--color-primary-variant);
  --_button-text: var(--color-on-primary-variant);
}

.secondary {
  --_button-color: var(--color-secondary);
  --_button-text: var(--color-on-secondary);
}

.tertiary {
  --_button-color: var(--color-tertiary);
  --_button-text: var(--color-on-tertiary);
}

.error {
  --_button-color: var(--color-error);
  --_button-text: var(--color-on-error);
}

/* button variant */
.filled {
  --_bg: var(--_button-color);
  --_color: var(--_button-text);
}

.outlined {
  --_bg: transparent;
  --_color: var(--_button-color);
}

.text {
  --_bg: transparent;
  --_border-color: transparent;
  --_color: var(--_button-color);
}
