@layer adgytec.comps {
    .cell {
        --state-color: var(
            --calendar-cell-state-layer-color,
            var(--md-sys-color-on-surface-variant)
        );
        --state-layer-opacity: 0;

        --state-layer-color: rgb(
            from var(--state-color) r g b /
            var(--state-layer-opacity)
        );

        position: relative;
        text-align: center;
        outline: none;

        inline-size: var(--calendar-cell-size);
        block-size: var(--calendar-cell-size);

        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 0;

        cursor: pointer;
        color: var(--calendar-cell-color, var(--md-sys-color-on-surface));

        transition: color var(--md-sys-motion-expressive-fast-effects)
            var(--md-sys-motion-expressive-fast-effects-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }

        &[data-focus-visible] {
            z-index: 1;
            --state-layer-opacity: var(--md-sys-state-focus);
        }

        &[data-hovered] {
            --state-layer-opacity: var(--md-sys-state-hover);
        }

        &[data-pressed] {
            --state-layer-opacity: var(--md-sys-state-pressed);
        }

        &[data-today] {
            color: var(
                --calendar-cell-highlight-background,
                var(--md-sys-color-primary)
            );
            --state-color: currentColor;

            &::before {
                border: calc(1 * var(--dp, 1px)) solid currentColor;
            }
        }

        &[data-selected],
        &[data-selection-start],
        &[data-selection-end] {
            color: var(
                --calendar-cell-highlight-color,
                var(--md-sys-color-on-primary)
            );
            --state-color: currentColor;

            &::before {
                border-width: 0;
                background-color: var(
                    --calendar-cell-highlight-background,
                    var(--md-sys-color-primary)
                );
            }
        }

        &[data-unavailable] {
            text-decoration: line-through;
        }

        &[data-range-calendar][data-selected] {
            &:not([data-selection-start]):not([data-selection-end]) {
                color: var(
                    --calendar-active-range-color,
                    var(--md-sys-color-on-secondary-container)
                );

                &::before {
                    background-color: transparent;
                }
            }
        }

        &[data-disabled],
        &[data-outside-month],
        &[data-outside-visible-range] {
            color: rgb(
                from currentColor r g b /
                var(--md-sys-state-disabled-content)
            );
            cursor: default;

            &::before {
                border-width: 0;
                background-color: transparent;
            }
        }

        &[data-invalid] {
            color: var(--md-sys-color-on-error);
            --state-layer: currentColor;

            &::before {
                background-color: var(--md-sys-color-error);
            }

            &[data-range-calendar]:not([data-selection-start]):not(
                    [data-selection-end]
                ) {
                color: var(
                    --md-sys-color-on-error-container,
                );

                &::before {
                    background-color: transparent;
                }
            }
        }
    }

    .cell::before,
    .cell::after,
    .splash-container {
        z-index: -1;
        content: "";

        position: absolute;
        inset: var(--md-sys-layout-space-4);
        border-radius: var(--md-sys-shape-corner-radius-full);

        transition: background-color
            var(--md-sys-motion-expressive-fast-effects)
            var(--md-sys-motion-expressive-fast-effects-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }

    .splash-container {
        overflow: hidden;
    }

    .cell::after {
        background-color: var(--state-layer-color);
    }

    .cell[data-focus-visible]::before {
        --focus-indicator-thickness: calc(3 * var(--dp, 1px));
        --focus-indicator-offset: calc(2 * var(--dp, 1px));
        --focus-indicator-color: var(--md-sys-color-secondary);

        outline-width: var(--focus-indicator-thickness);
        outline-style: solid;
        outline-offset: var(--focus-indicator-offset);
        outline-color: var(--focus-indicator-color);
    }

    .range-indicator {
        --range-indicator-background: var(
            --calendar-active-range-background,
            var(--md-sys-color-secondary-container)
        );

        z-index: -2;
        position: absolute;
        inset: 0;
        inset-block: var(--md-sys-layout-space-4);

        transition: background-color
            var(--md-sys-motion-expressive-fast-effects)
            var(--md-sys-motion-expressive-fast-effects-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }

        &[data-invalid] {
            --range-indicator-background: var(--md-sys-color-error-container);
        }

        &[data-in-range] {
            background-color: var(--range-indicator-background);
        }

        &[data-selection-start] {
            inset-inline-start: var(--md-sys-layout-space-4);

            border-start-start-radius: var(--md-sys-shape-corner-radius-full);
            border-end-start-radius: var(--md-sys-shape-corner-radius-full);

            background-color: var(--range-indicator-background);
        }

        &[data-selection-end] {
            inset-inline-end: var(--md-sys-layout-space-4);

            border-start-end-radius: var(--md-sys-shape-corner-radius-full);
            border-end-end-radius: var(--md-sys-shape-corner-radius-full);

            background-color: var(--range-indicator-background);
        }

        &[data-disabled],
        &[data-outside-month],
        &[data-outside-visible-range] {
            --range-indicator-background: transparent;
        }
    }
}
