@layer adgytec.overrides {
    .cell {
        &[data-disabled],
        &[data-outside-month],
        &[data-outside-visible-range] {
            color: rgb(
                from currentColor r g b /
                var(--md-sys-state-disabled-content)
            );
            cursor: default;
        }

        &[data-unavailable] {
            text-decoration: line-through;
        }

        &[data-invalid] {
            --state-color: var(--md-sys-color-on-error-container);
            color: var(--md-sys-color-on-error-container);

            &::before {
                background-color: var(--md-sys-color-error-container);
            }
        }
    }
}

@layer adgytec.comps {
    .splash-container {
        z-index: -1;
        overflow: hidden;
    }

    .cell {
        --state-color: var(--md-sys-color-on-surface-variant);
        --state-layer-opacity: 0;

        --state-layer-color: rgb(
            from var(--state-color) r g b /
            var(--state-layer-opacity)
        );

        position: relative;
        z-index: 0;
        outline: none;

        display: flex;
        align-items: center;
        justify-content: center;

        color: var(--md-sys-color-on-surface);
        cursor: pointer;

        transition: color var(--md-sys-motion-expressive-fast-effects)
            var(--md-sys-motion-expressive-fast-effects-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }

        /* biome-ignore lint: styles are part of diff layer */
        &::before,
        &::after,
        .splash-container {
            z-index: -3;
            content: "";
            position: absolute;
            block-size: var(--md-sys-layout-space-40);
            aspect-ratio: 1 / 1;

            inset-block-start: 50%;
            inset-inline-start: 50%;
            translate: -50% -50%;

            border-radius: var(--md-sys-shape-corner-radius-full);

            transition: background-color
                var(--md-sys-motion-expressive-fast-effects)
                var(--md-sys-motion-expressive-fast-effects-duration);

            @media (prefers-reduced-motion) {
                transition: none;
            }
        }

        &::after {
            z-index: -2;
            background-color: var(--state-layer-color);
        }

        &[data-hovered] {
            --state-layer-opacity: var(--md-sys-state-hover);
        }

        &[data-pressed] {
            --state-layer-opacity: var(--md-sys-state-pressed);
        }

        &[data-focus-visible] {
            --state-layer-opacity: var(--md-sys-state-focus);

            &::before {
                --focus-indicator-thickness: calc(3 * var(--dp, 1px));
                --focus-indicator-offset: calc(2 * var(--dp, 1px));
                --focus-indicator-color: var(--md-sys-color-secondary);

                outline-width: var(--focus-indicator-thickness);
                outline-style: solid;
                outline-offset: var(--focus-indicator-offset);
                outline-color: var(--focus-indicator-color);
            }
        }

        &[data-today] {
            --state-color: var(--md-sys-color-primary);
            color: var(--md-sys-color-primary);

            &::before {
                border: calc(1 * var(--dp, 1px)) solid
                    var(--md-sys-color-primary);
            }
        }

        &[data-selected],
        &[data-selection-start],
        &[data-selection-end] {
            --state-color: var(--md-sys-color-on-primary);
            color: var(--md-sys-color-on-primary);

            &::before {
                background-color: var(--md-sys-color-primary);
            }
        }
    }
}
