@layer adgytec.comps {
    .group {
        /* shape */
        --_shape-start-start: var(--_inner-shape);
        --_shape-end-start: var(--_inner-shape);
        --_shape-start-end: var(--_inner-shape);
        --_shape-end-end: var(--_inner-shape);

        display: inline-flex;
        align-items: center;
        gap: calc(2 * var(--dp, 1px));
    }

    .group > [data-pressed] {
        --_shape-start-start: var(--_pressed-shape);
        --_shape-end-start: var(--_pressed-shape);
        --_shape-start-end: var(--_pressed-shape);
        --_shape-end-end: var(--_pressed-shape);
    }

    .group > [data-connected-button]:first-child {
        --_shape-start-start: var(--_outer-shape);
        --_shape-end-start: var(--_outer-shape);
    }

    .group > [data-connected-button]:last-child {
        --_shape-start-end: var(--_outer-shape);
        --_shape-end-end: var(--_outer-shape);
    }

    .extra-small {
        /* height for button is 32 */
        --md-sys-shape-corner-radius-full: calc(16 * var(--dp, 1px));

        --_md-button-padding-block-base: calc(6 * var(--dp, 1px));
        --_md-button-padding-block: var(--_md-button-padding-block-base);
        --_md-button-padding-inline: var(--md-sys-layout-space-12);

        --_md-button-icon-label-gap: var(--md-sys-layout-space-4);
        --_md-button-outline-width: var(--md-sys-shape-border-width-thin);

        --_outer-shape: var(--md-sys-shape-corner-radius-full);
        --_inner-shape: var(--md-sys-shape-corner-radius-small);
        --_pressed-shape: var(--md-sys-shape-corner-radius-extra-small);
        --_selected-shape: var(--md-sys-shape-corner-radius-full);

        &[data-shape="square"] {
            --_outer-shape: var(--md-sys-shape-corner-radius-small);
        }
    }

    .small {
        /* height for button is 40 */
        --md-sys-shape-corner-radius-full: calc(20 * var(--dp, 1px));

        --_md-button-padding-block-base: calc(10 * var(--dp, 1px));
        --_md-button-padding-block: var(--_md-button-padding-block-base);
        --_md-button-padding-inline: var(--md-sys-layout-space-16);

        --_md-button-icon-label-gap: var(--md-sys-layout-space-8);
        --_md-button-outline-width: var(--md-sys-shape-border-width-thin);

        --_outer-shape: var(--md-sys-shape-corner-radius-full);
        --_inner-shape: var(--md-sys-shape-corner-radius-small);
        --_pressed-shape: var(--md-sys-shape-corner-radius-extra-small);
        --_selected-shape: var(--md-sys-shape-corner-radius-full);

        &[data-shape="square"] {
            --_outer-shape: var(--md-sys-shape-corner-radius-small);
        }
    }

    .medium {
        /* height for button is 56 */
        --md-sys-shape-corner-radius-full: calc(28 * var(--dp, 1px));

        --_md-button-padding-block-base: var(--md-sys-layout-space-16);
        --_md-button-padding-block: var(--_md-button-padding-block-base);
        --_md-button-padding-inline: var(--md-sys-layout-space-24);

        --_md-button-icon-label-gap: var(--md-sys-layout-space-8);
        --_md-button-outline-width: var(--md-sys-shape-border-width-thin);

        --_outer-shape: var(--md-sys-shape-corner-radius-full);
        --_inner-shape: var(--md-sys-shape-corner-radius-small);
        --_pressed-shape: var(--md-sys-shape-corner-radius-extra-small);
        --_selected-shape: var(--md-sys-shape-corner-radius-full);

        &[data-shape="square"] {
            --_outer-shape: var(--md-sys-shape-corner-radius-small);
        }
    }

    .large {
        /* height for button is 96 */
        --md-sys-shape-corner-radius-full: calc(48 * var(--dp, 1px));

        --_md-button-padding-block-base: var(--md-sys-layout-space-32);
        --_md-button-padding-block: var(--_md-button-padding-block-base);
        --_md-button-padding-inline: var(--md-sys-layout-space-48);

        --_md-button-icon-label-gap: var(--md-sys-layout-space-12);
        --_md-button-outline-width: var(--md-sys-shape-border-width-thick);

        --_outer-shape: var(--md-sys-shape-corner-radius-full);
        --_inner-shape: var(--md-sys-shape-corner-radius-large);
        --_pressed-shape: var(--md-sys-shape-corner-radius-medium);
        --_selected-shape: var(--md-sys-shape-corner-radius-full);

        &[data-shape="square"] {
            --_outer-shape: var(--md-sys-shape-corner-radius-large);
        }
    }

    .extra-large {
        /* height for button is 136 */
        --md-sys-shape-corner-radius-full: calc(68 * var(--dp, 1px));

        --_md-button-padding-block-base: var(--md-sys-layout-space-48);
        --_md-button-padding-block: var(--_md-button-padding-block-base);
        --_md-button-padding-inline: var(--md-sys-layout-space-64);

        --_md-button-icon-label-gap: var(--md-sys-layout-space-16);
        --_md-button-outline-width: calc(3 * var(--dp, 1px));

        --_outer-shape: var(--md-sys-shape-corner-radius-full);
        --_inner-shape: var(--md-sys-shape-corner-radius-large-increased);
        --_pressed-shape: var(--md-sys-shape-corner-radius-large);
        --_selected-shape: var(--md-sys-shape-corner-radius-full);

        &[data-shape="square"] {
            --_outer-shape: var(--md-sys-shape-corner-radius-large-increased);
        }
    }
}
