/* configurable tokens
*
* --md-tab-list-divider-color
* --md-tabs-active-indicator-color
*
* --md-tabs-color
* --md-tabs-active-color
*
* configurable tokens end */

@layer adgytec.comps {
    .tab-list {
        --md-tabs-color: currentColor;
        --md-tabs-active-color: var(--md-sys-color-on-surface);

        --_md-tab-list-divider-width: calc(1 * var(--dp, 1px));
        --md-tab-list-divider-color: var(--md-sys-color-surface-variant);

        --_md-tabs-active-indicator-size: calc(2 * var(--dp, 1px));
        --md-tabs-active-indicator-color: var(--md-sys-color-primary);

        [data-selection-indicator] {
            background-color: var(--md-tabs-active-indicator-color);
        }

        &[data-orientation="horizontal"] {
            --_focus-inset-block-end-active: var(--md-sys-layout-space-8);
            --_focus-inset-inline-end-active: var(--md-sys-layout-space-4);

            display: flex;
            align-items: center;
            justify-content: space-between;

            overflow-x: auto;

            border-block-end: var(--_md-tab-list-divider-width) solid
                var(--md-tab-list-divider-color);

            [data-tab] {
                flex: 1;
                text-align: center;
            }

            [data-selection-indicator] {
                inset-inline-start: 0;
                inset-block-end: 0px;

                inline-size: 100%;
                block-size: var(--_md-tabs-active-indicator-size);

                transition-property: translate, inline-size;
            }
        }

        &[data-orientation="vertical"] {
            --_focus-inset-block-end-active: var(--md-sys-layout-space-4);
            --_focus-inset-inline-end-active: var(--md-sys-layout-space-8);

            border-inline-end: var(--_md-tab-list-divider-width) solid
                var(--md-tab-list-divider-color);

            [data-selection-indicator] {
                inset-block-start: 0;
                inset-inline-end: 0px;

                block-size: 100%;
                inline-size: var(--_md-tabs-active-indicator-size);

                transition-property: translate, block-size;
            }
        }
    }
}
