.preview-parent {
    padding: var(--md-sys-layout-window-size-extra-large-margin);
}

.preview-container {
    padding: var(--md-sys-layout-space-16);
    > h2 {
        margin-block-end: var(--md-sys-layout-space-32);
    }
}

.preview-container__items {
    display: grid;
    gap: 1.25rem;
}

.item-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.item-container [data-card="true"] {
    max-width: 25rem;
    display: grid;
    gap: 1rem;

    p {
        text-align: justify;
    }
}

.button-color {
    display: grid;
    gap: var(--md-sys-layout-space-20);
    text-align: center;

    padding: var(--md-sys-layout-space-16);
    border-radius: var(--md-sys-shape-corner-radius-large);

    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
}

.button-size {
    display: grid;
    gap: var(--md-sys-layout-space-28);
    text-align: center;

    padding-inline: var(--md-sys-layout-space-16);
    padding-block: var(--md-sys-layout-space-24);
    border-radius: inherit;

    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);

    h5 {
        margin: 0;
    }
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--md-sys-layout-space-28);

    align-items: center;
    justify-content: center;
}

.items-grid {
    display: grid;
    gap: var(--md-sys-layout-space-28);
}

.tab-container {
    block-size: 100svb;
    display: grid;

    padding: var(--md-sys-layout-space-16);
}

.tabs {
    &[data-orientation="vertical"] {
        min-block-size: 0;

        > * {
            overflow-y: auto;
        }
    }
}

.tab-list {
    background-color: var(--md-sys-color-background);
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    border-radius: 50%;

    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);

    font-size: 0.75rem;
}

.tag-list {
    display: flex;
    gap: var(--md-sys-layout-space-16);
    flex-wrap: wrap;
    justify-content: center;
}

[data-slider-orientation="horizontal"] {
    > div {
        inline-size: 20rem;
    }
}

[data-slider-orientation="vertical"] {
    > div {
        justify-items: center;
        block-size: 20rem;
    }
}

[data-toolbar] {
    > div {
        overflow: auto;

        max-inline-size: 75svi;
        max-block-size: 75svb;

        scrollbar-width: none;
    }
}

[data-calendar] > div {
    display: grid;
    gap: var(--md-sys-layout-space-16);

    > h3 {
        text-align: center;
    }
}

.calendar-vibrant {
    --md-calendar-background: var(--md-sys-color-tertiary-container);
    --md-calendar-header-cell-color: var(--md-sys-color-on-tertiary-container);

    --md-calendar-cell-color: var(--md-sys-color-on-tertiary-container);
    --md-calendar-cell-state-layer-color: var(
        --md-sys-color-on-tertiary-container
    );

    --md-calendar-cell-today-color: var(--md-sys-color-tertiary);

    --md-calendar-cell-selected-background: var(--md-sys-color-tertiary);
    --md-calendar-selected-color: var(--md-sys-color-on-tertiary);

    --md-calendar-in-active-range-background: var(
        --md-sys-color-tertiary-fixed-dim
    );
    --md-calendar-in-active-range-color: var(
        --md-sys-color-on-tertiary-fixed-variant
    );

    --md-calendar-menu-divider-color: var(--md-sys-color-on-tertiary);
    --md-calendar-menu-selected-background: var(--md-sys-color-tertiary);
    --md-calendar-menu-selected-color: var(--md-sys-color-on-tertiary);
}

.switch-primary {
    /* handle tokens */
    --md-switch-handle-color: var(--md-sys-color-outline);
    --md-switch-selected-handle-color: var(--md-sys-color-on-primary);

    /* hovered, focused and pressed */
    --md-switch-handle-interaction-color: var(
        --md-sys-color-on-surface-variant
    );
    --md-switch-selected-handle-interaction-color: var(
        --md-sys-color-primary-container
    );

    /* handle icon */
    --md-switch-handle-icon-color: var(
        --md-sys-color-surface-container-highest
    );
    --md-switch-selected-handle-icon-color: var(--md-sys-color-primary);

    /* track */
    --md-switch-track-color: var(--md-sys-color-surface-container-highest);
    --md-switch-selected-track-color: var(--md-sys-color-primary);
    --md-switch-track-outline-color: var(--md-sys-color-outline);

    /* state layer */
    --md-switch-state-layer-color: var(--md-sys-color-on-surface);
    --md-switch-selected-state-layer-color: var(--md-sys-color-primary);
}

.switch-primary-alt {
    /* handle tokens */
    --md-switch-handle-color: var(--md-sys-color-outline);
    --md-switch-selected-handle-color: var(
        --md-extended-color-primary-alt-on-color
    );

    /* hovered, focused and pressed */
    --md-switch-handle-interaction-color: var(
        --md-sys-color-on-surface-variant
    );
    --md-switch-selected-handle-interaction-color: var(
        --md-extended-color-primary-alt-color-container
    );

    /* handle icon */
    --md-switch-handle-icon-color: var(
        --md-sys-color-surface-container-highest
    );
    --md-switch-selected-handle-icon-color: var(
        --md-extended-color-primary-alt-color
    );

    /* track */
    --md-switch-track-color: var(--md-sys-color-surface-container-highest);
    --md-switch-selected-track-color: var(
        --md-extended-color-primary-alt-color
    );
    --md-switch-track-outline-color: var(--md-sys-color-outline);

    /* state layer */
    --md-switch-state-layer-color: var(--md-sys-color-on-surface);
    --md-switch-selected-state-layer-color: var(
        --md-extended-color-primary-alt-color
    );
}

.switch-secondary {
    --md-switch-handle-color: var(--md-sys-color-outline);
    --md-switch-selected-handle-color: var(--md-sys-color-on-secondary);

    --md-switch-handle-interaction-color: var(
        --md-sys-color-on-surface-variant
    );
    --md-switch-selected-handle-interaction-color: var(
        --md-sys-color-on-secondary-container
    );

    --md-switch-handle-icon-color: var(
        --md-sys-color-surface-container-highest
    );
    --md-switch-selected-handle-icon-color: var(--md-sys-color-secondary);

    --md-switch-track-color: var(--md-sys-color-surface-container-highest);
    --md-switch-selected-track-color: var(--md-sys-color-secondary);
    --md-switch-track-outline-color: var(--md-sys-color-outline);

    --md-switch-state-layer-color: var(--md-sys-color-on-surface);
    --md-switch-selected-state-layer-color: var(--md-sys-color-secondary);
}

.switch-tertiary {
    --md-switch-handle-color: var(--md-sys-color-outline);
    --md-switch-selected-handle-color: var(--md-sys-color-on-tertiary);

    --md-switch-handle-interaction-color: var(
        --md-sys-color-on-surface-variant
    );
    --md-switch-selected-handle-interaction-color: var(
        --md-sys-color-tertiary-container
    );

    --md-switch-handle-icon-color: var(
        --md-sys-color-surface-container-highest
    );
    --md-switch-selected-handle-icon-color: var(--md-sys-color-tertiary);

    --md-switch-track-color: var(--md-sys-color-surface-container-highest);
    --md-switch-selected-track-color: var(--md-sys-color-tertiary);
    --md-switch-track-outline-color: var(--md-sys-color-outline);

    --md-switch-state-layer-color: var(--md-sys-color-on-surface);
    --md-switch-selected-state-layer-color: var(--md-sys-color-tertiary);
}

.switch-primary-fixed {
    --md-switch-handle-color: var(--md-sys-color-primary-fixed);
    --md-switch-selected-handle-color: var(--md-sys-color-on-primary-fixed);

    --md-switch-handle-interaction-color: var(
        --md-sys-color-on-primary-fixed-variant
    );
    --md-switch-selected-handle-interaction-color: var(
        --md-sys-color-primary-fixed
    );

    --md-switch-handle-icon-color: var(--md-sys-color-on-primary-fixed);
    --md-switch-selected-handle-icon-color: var(
        --md-sys-color-primary-fixed-dim
    );

    --md-switch-track-color: var(--md-sys-color-on-primary-fixed);
    --md-switch-selected-track-color: var(--md-sys-color-primary-fixed-dim);
    --md-switch-track-outline-color: transparent;

    --md-switch-state-layer-color: var(--md-sys-color-on-primary-fixed);
    --md-switch-selected-state-layer-color: var(
        --md-sys-color-primary-fixed-dim
    );
}

.switch-secondary-fixed {
    --md-switch-handle-color: var(--md-sys-color-secondary-fixed);
    --md-switch-selected-handle-color: var(--md-sys-color-on-secondary-fixed);

    --md-switch-handle-interaction-color: var(
        --md-sys-color-on-secondary-fixed-variant
    );
    --md-switch-selected-handle-interaction-color: var(
        --md-sys-color-secondary-fixed
    );

    --md-switch-handle-icon-color: var(--md-sys-color-on-secondary-fixed);
    --md-switch-selected-handle-icon-color: var(
        --md-sys-color-secondary-fixed-dim
    );

    --md-switch-track-color: var(--md-sys-color-on-secondary-fixed);
    --md-switch-selected-track-color: var(--md-sys-color-secondary-fixed-dim);
    --md-switch-track-outline-color: transparent;

    --md-switch-state-layer-color: var(--md-sys-color-on-secondary-fixed);
    --md-switch-selected-state-layer-color: var(
        --md-sys-color-secondary-fixed-dim
    );
}

.switch-inverse {
    --md-switch-handle-color: var(--md-sys-color-inverse-on-surface);
    --md-switch-selected-handle-color: var(--md-sys-color-inverse-surface);

    --md-switch-handle-interaction-color: var(--md-sys-color-inverse-primary);
    --md-switch-selected-handle-interaction-color: var(
        --md-sys-color-inverse-on-surface
    );

    --md-switch-handle-icon-color: var(--md-sys-color-inverse-surface);
    --md-switch-selected-handle-icon-color: var(--md-sys-color-inverse-primary);

    --md-switch-track-color: var(--md-sys-color-inverse-surface);
    --md-switch-selected-track-color: var(--md-sys-color-inverse-primary);
    --md-switch-track-outline-color: transparent;

    --md-switch-state-layer-color: var(--md-sys-color-inverse-on-surface);
    --md-switch-selected-state-layer-color: var(--md-sys-color-inverse-primary);
}

.primary-alt {
    --md-button-background: var(--md-extended-color-primary-alt-color);
    --md-button-color: var(--md-extended-color-primary-alt-on-color);
    --md-button-outline-color: transparent;
}
.primary-alt-container {
    --md-button-background: var(
        --md-extended-color-primary-alt-color-container
    );
    --md-button-color: var(--md-extended-color-primary-alt-on-color-container);
    --md-button-outline-color: transparent;
}

.primary-container {
    --md-button-background: var(--md-sys-color-primary-container);
    --md-button-color: var(--md-sys-color-on-primary-container);
    --md-button-outline-color: transparent;
}

.error {
    --md-button-background: var(--md-sys-color-error);
    --md-button-color: var(--md-sys-color-on-error);
    --md-button-outline-color: transparent;
}
.error-container {
    --md-button-background: var(--md-sys-color-error-container);
    --md-button-color: var(--md-sys-color-on-error-container);
    --md-button-outline-color: transparent;
}

.secondary {
    --md-button-background: var(--md-sys-color-secondary);
    --md-button-color: var(--md-sys-color-on-secondary);
    --md-button-outline-color: transparent;
}
.secondary-container {
    --md-button-background: var(--md-sys-color-secondary-container);
    --md-button-color: var(--md-sys-color-on-secondary-container);
    --md-button-outline-color: transparent;
}

.tertiary {
    --md-button-background: var(--md-sys-color-tertiary);
    --md-button-color: var(--md-sys-color-on-tertiary);
    --md-button-outline-color: transparent;
}
.tertiary-container {
    --md-button-background: var(--md-sys-color-tertiary-container);
    --md-button-color: var(--md-sys-color-on-tertiary-container);
    --md-button-outline-color: transparent;
}

.inverse {
    --md-button-background: var(--md-sys-color-inverse-surface);
    --md-button-color: var(--md-sys-color-inverse-on-surface);
    --md-button-outline-color: transparent;
}

.inverse-primary {
    --md-button-background: var(--md-sys-color-inverse-primary);
    --md-button-color: var(--md-sys-color-on-primary);
    --md-button-outline-color: transparent;
}

.primary-fixed {
    --md-button-background: var(--md-sys-color-primary-fixed);
    --md-button-color: var(--md-sys-color-on-primary-fixed);
    --md-button-outline-color: transparent;
}

.primary-fixed-dim {
    --md-button-background: var(--md-sys-color-primary-fixed-dim);
    --md-button-color: var(--md-sys-color-on-primary-fixed-variant);
    --md-button-outline-color: transparent;
}

.secondary-fixed {
    --md-button-background: var(--md-sys-color-secondary-fixed);
    --md-button-color: var(--md-sys-color-on-secondary-fixed);
    --md-button-outline-color: transparent;
}

.secondary-fixed-dim {
    --md-button-background: var(--md-sys-color-secondary-fixed-dim);
    --md-button-color: var(--md-sys-color-on-secondary-fixed-variant);
    --md-button-outline-color: transparent;
}

.tertiary-fixed {
    --md-button-background: var(--md-sys-color-tertiary-fixed);
    --md-button-color: var(--md-sys-color-on-tertiary-fixed);
    --md-button-outline-color: transparent;
}

.tertiary-fixed-dim {
    --md-button-background: var(--md-sys-color-tertiary-fixed-dim);
    --md-button-color: var(--md-sys-color-on-tertiary-fixed-variant);
    --md-button-outline-color: transparent;
}

.slider-secondary {
    --md-slider-active-track-color: var(--md-sys-color-secondary);
    --md-slider-inactive-track-color: var(--md-sys-color-secondary-container);

    --md-slider-thumb-color: var(--md-slider-active-track-color);

    --md-slider-active-stop-color: var(--md-sys-color-on-secondary);
    --md-slider-inactive-stop-color: var(--md-sys-color-on-secondary-container);

    --md-slider-output-background: var(--md-sys-color-secondary-container);
    --md-slider-output-color: var(--md-sys-color-on-secondary-container);

    --md-slider-icon-color: var(--md-sys-color-on-secondary);
    --md-slider-minimum-value-icon-color: var(
        --md-sys-color-on-secondary-container
    );
}

.slider-tertiary {
    --md-slider-active-track-color: var(--md-sys-color-tertiary);
    --md-slider-inactive-track-color: var(--md-sys-color-tertiary-container);

    --md-slider-thumb-color: var(--md-slider-active-track-color);

    --md-slider-active-stop-color: var(--md-sys-color-on-tertiary);
    --md-slider-inactive-stop-color: var(--md-sys-color-on-tertiary-container);

    --md-slider-output-background: var(--md-sys-color-tertiary-container);
    --md-slider-output-color: var(--md-sys-color-on-tertiary-container);

    --md-slider-icon-color: var(--md-sys-color-on-tertiary);
    --md-slider-minimum-value-icon-color: var(
        --md-sys-color-on-tertiary-container
    );
}

.slider-primary-fixed {
    --md-slider-active-track-color: var(--md-sys-color-primary-fixed-dim);
    --md-slider-inactive-track-color: var(--md-sys-color-primary-fixed);

    --md-slider-thumb-color: var(--md-slider-active-track-color);

    --md-slider-active-stop-color: var(--md-sys-color-on-primary-fixed);
    --md-slider-inactive-stop-color: var(
        --md-sys-color-on-primary-fixed-variant
    );

    --md-slider-output-background: var(--md-sys-color-primary-fixed-dim);
    --md-slider-output-color: var(--md-sys-color-on-primary-fixed);

    --md-slider-icon-color: var(--md-sys-color-on-primary-fixed);
    --md-slider-minimum-value-icon-color: var(
        --md-sys-color-on-primary-fixed-variant
    );
}

.slider-secondary-fixed {
    --md-slider-active-track-color: var(--md-sys-color-secondary-fixed-dim);
    --md-slider-inactive-track-color: var(--md-sys-color-secondary-fixed);

    --md-slider-thumb-color: var(--md-slider-active-track-color);

    --md-slider-active-stop-color: var(--md-sys-color-on-secondary-fixed);
    --md-slider-inactive-stop-color: var(
        --md-sys-color-on-secondary-fixed-variant
    );

    --md-slider-output-background: var(--md-sys-color-secondary-fixed-dim);
    --md-slider-output-color: var(--md-sys-color-on-secondary-fixed);

    --md-slider-icon-color: var(--md-sys-color-on-secondary-fixed);
    --md-slider-minimum-value-icon-color: var(
        --md-sys-color-on-secondary-fixed-variant
    );
}

.slider-tertiary-fixed {
    --md-slider-active-track-color: var(--md-sys-color-tertiary-fixed-dim);
    --md-slider-inactive-track-color: var(--md-sys-color-tertiary-fixed);

    --md-slider-thumb-color: var(--md-slider-active-track-color);

    --md-slider-active-stop-color: var(--md-sys-color-on-tertiary-fixed);
    --md-slider-inactive-stop-color: var(
        --md-sys-color-on-tertiary-fixed-variant
    );

    --md-slider-output-background: var(--md-sys-color-tertiary-fixed-dim);
    --md-slider-output-color: var(--md-sys-color-on-tertiary-fixed);

    --md-slider-icon-color: var(--md-sys-color-on-tertiary-fixed);
    --md-slider-minimum-value-icon-color: var(
        --md-sys-color-on-tertiary-fixed-variant
    );
}

.slider-inverse {
    --md-slider-active-track-color: var(--md-sys-color-inverse-primary);
    --md-slider-inactive-track-color: var(--md-sys-color-inverse-surface);

    --md-slider-thumb-color: var(--md-slider-active-track-color);

    --md-slider-active-stop-color: var(--md-sys-color-inverse-on-surface);
    --md-slider-inactive-stop-color: var(--md-sys-color-inverse-primary);

    --md-slider-output-background: var(--md-sys-color-inverse-surface);
    --md-slider-output-color: var(--md-sys-color-inverse-on-surface);

    --md-slider-icon-color: var(--md-sys-color-inverse-on-surface);
    --md-slider-minimum-value-icon-color: var(--md-sys-color-inverse-primary);
}

.slider-alt {
    --md-slider-active-track-color: var(--md-extended-color-primary-alt-color);
    --md-slider-inactive-track-color: var(
        --md-extended-color-primary-alt-color-container
    );

    --md-slider-thumb-color: var(--md-slider-active-track-color);

    --md-slider-active-stop-color: var(
        --md-extended-color-primary-alt-on-color
    );
    --md-slider-inactive-stop-color: var(
        --md-extended-color-primary-alt-on-color-container
    );

    --md-slider-output-background: var(--md-sys-color-inverse-surface);
    --md-slider-output-color: var(--md-sys-color-inverse-on-surface);

    --md-slider-icon-color: var(--md-extended-color-primary-alt-on-color);
    --md-slider-minimum-value-icon-color: var(
        --md-extended-color-primary-alt-on-color-container
    );
}

.radio-primary {
    --md-radio-icon-color: var(--md-sys-color-on-surface-variant);
    --md-radio-selected-icon-color: var(--md-sys-color-primary);

    --md-radio-interaction-icon-color: var(--md-sys-color-on-surface);
    --md-radio-selected-interaction-icon-color: var(--md-sys-color-primary);

    --md-radio-state-layer-color: var(--md-sys-color-on-surface);
    --md-radio-selected-state-layer-color: var(--md-sys-color-primary);
}

.radio-primary-alt {
    --md-radio-icon-color: var(--md-sys-color-on-surface-variant);
    --md-radio-selected-icon-color: var(--md-extended-color-primary-alt-color);

    --md-radio-interaction-icon-color: var(--md-sys-color-on-surface);
    --md-radio-selected-interaction-icon-color: var(
        --md-extended-color-primary-alt-color
    );

    --md-radio-state-layer-color: var(--md-sys-color-on-surface);
    --md-radio-selected-state-layer-color: var(
        --md-extended-color-primary-alt-color
    );
}

.radio-tertiary {
    --md-radio-icon-color: var(--md-sys-color-on-surface-variant);
    --md-radio-selected-icon-color: var(--md-sys-color-tertiary);

    --md-radio-interaction-icon-color: var(--md-sys-color-on-surface);
    --md-radio-selected-interaction-icon-color: var(--md-sys-color-tertiary);

    --md-radio-state-layer-color: var(--md-sys-color-on-surface);
    --md-radio-selected-state-layer-color: var(--md-sys-color-tertiary);
}

.radio-primary-fixed {
    --md-radio-icon-color: var(--md-sys-color-on-primary-fixed-variant);
    --md-radio-selected-icon-color: var(--md-sys-color-primary-fixed-dim);

    --md-radio-interaction-icon-color: var(--md-sys-color-on-primary-fixed);
    --md-radio-selected-interaction-icon-color: var(
        --md-sys-color-primary-fixed-dim
    );

    --md-radio-state-layer-color: var(--md-sys-color-on-primary-fixed);
    --md-radio-selected-state-layer-color: var(
        --md-sys-color-primary-fixed-dim
    );
}

.radio-secondary-fixed {
    --md-radio-icon-color: var(--md-sys-color-on-secondary-fixed-variant);
    --md-radio-selected-icon-color: var(--md-sys-color-secondary-fixed-dim);

    --md-radio-interaction-icon-color: var(--md-sys-color-on-secondary-fixed);
    --md-radio-selected-interaction-icon-color: var(
        --md-sys-color-secondary-fixed-dim
    );

    --md-radio-state-layer-color: var(--md-sys-color-on-secondary-fixed);
    --md-radio-selected-state-layer-color: var(
        --md-sys-color-secondary-fixed-dim
    );
}

.radio-inverse {
    --md-radio-icon-color: var(--md-sys-color-inverse-on-surface);
    --md-radio-selected-icon-color: var(--md-sys-color-inverse-primary);

    --md-radio-interaction-icon-color: var(--md-sys-color-inverse-on-surface);
    --md-radio-selected-interaction-icon-color: var(
        --md-sys-color-inverse-primary
    );

    --md-radio-state-layer-color: var(--md-sys-color-inverse-on-surface);
    --md-radio-selected-state-layer-color: var(--md-sys-color-inverse-primary);
}

.checkbox-primary {
    --md-checkbox-outline-color: var(--md-sys-color-on-surface-variant);
    --md-checkbox-container-color: var(--md-sys-color-primary);

    --md-checkbox-interaction-outline-color: var(--md-sys-color-on-surface);

    --md-checkbox-icon-color: var(--md-sys-color-on-primary);

    --md-checkbox-state-layer-color: var(--md-sys-color-on-surface);
    --md-checkbox-selected-state-layer-color: var(--md-sys-color-primary);
}

.checkbox-primary-alt {
    --md-checkbox-outline-color: var(--md-sys-color-on-surface-variant);
    --md-checkbox-container-color: var(--md-extended-color-primary-alt-color);

    --md-checkbox-interaction-outline-color: var(--md-sys-color-on-surface);

    --md-checkbox-icon-color: var(--md-extended-color-primary-alt-on-color);

    --md-checkbox-state-layer-color: var(--md-sys-color-on-surface);
    --md-checkbox-selected-state-layer-color: var(
        --md-extended-color-primary-alt-color
    );
}

.checkbox-tertiary {
    --md-checkbox-outline-color: var(--md-sys-color-on-surface-variant);
    --md-checkbox-container-color: var(--md-sys-color-tertiary);

    --md-checkbox-interaction-outline-color: var(--md-sys-color-on-surface);

    --md-checkbox-icon-color: var(--md-sys-color-on-tertiary);

    --md-checkbox-state-layer-color: var(--md-sys-color-on-surface);
    --md-checkbox-selected-state-layer-color: var(--md-sys-color-tertiary);
}

.checkbox-primary-fixed {
    --md-checkbox-outline-color: var(--md-sys-color-on-primary-fixed-variant);
    --md-checkbox-container-color: var(--md-sys-color-primary-fixed-dim);

    --md-checkbox-interaction-outline-color: var(
        --md-sys-color-on-primary-fixed
    );

    --md-checkbox-icon-color: var(--md-sys-color-on-primary-fixed);

    --md-checkbox-state-layer-color: var(--md-sys-color-on-primary-fixed);
    --md-checkbox-selected-state-layer-color: var(
        --md-sys-color-primary-fixed-dim
    );
}

.checkbox-secondary-fixed {
    --md-checkbox-outline-color: var(--md-sys-color-on-secondary-fixed-variant);
    --md-checkbox-container-color: var(--md-sys-color-secondary-fixed-dim);

    --md-checkbox-interaction-outline-color: var(
        --md-sys-color-on-secondary-fixed
    );

    --md-checkbox-icon-color: var(--md-sys-color-on-secondary-fixed);

    --md-checkbox-state-layer-color: var(--md-sys-color-on-secondary-fixed);
    --md-checkbox-selected-state-layer-color: var(
        --md-sys-color-secondary-fixed-dim
    );
}

.checkbox-inverse {
    --md-checkbox-outline-color: var(--md-sys-color-inverse-on-surface);
    --md-checkbox-container-color: var(--md-sys-color-inverse-primary);

    --md-checkbox-interaction-outline-color: var(
        --md-sys-color-inverse-on-surface
    );

    --md-checkbox-icon-color: var(--md-sys-color-inverse-surface);

    --md-checkbox-state-layer-color: var(--md-sys-color-inverse-on-surface);
    --md-checkbox-selected-state-layer-color: var(
        --md-sys-color-inverse-primary
    );
}

.input-primary-alt {
    --md-textfield-focused-outline-color: var(
        --md-extended-color-primary-alt-color
    );
}

.input-tertiary {
    --md-textfield-focused-outline-color: var(--md-sys-color-tertiary);
}

.menu-theme-ocean {
    --md-menu-background: var(--md-sys-color-primary-container);
    --md-menu-section-label-color: var(--md-sys-color-on-primary-container);

    --md-menu-item-background: var(--md-sys-color-primary-container);
    --md-menu-item-selected-background: var(--md-sys-color-primary);

    --md-menu-item-color: var(--md-sys-color-on-primary-container);
    --md-menu-item-selected-color: var(--md-sys-color-on-primary);

    --md-menu-item-label-color: var(--md-sys-color-on-primary-container);
    --menu-item-selected-label-color: var(--md-sys-color-on-primary);
}

.menu-theme-success {
    --md-menu-background: var(--md-sys-color-secondary-container);
    --md-menu-section-label-color: var(--md-sys-color-on-secondary-container);

    --md-menu-item-background: var(--md-sys-color-secondary-container);
    --md-menu-item-selected-background: var(--md-sys-color-secondary);

    --md-menu-item-color: var(--md-sys-color-on-secondary-container);
    --md-menu-item-selected-color: var(--md-sys-color-on-secondary);

    --md-menu-item-label-color: var(--md-sys-color-on-secondary-container);
    --menu-item-selected-label-color: var(--md-sys-color-on-secondary);
}

.menu-theme-warning {
    --md-menu-background: var(--md-sys-color-tertiary-container);
    --md-menu-section-label-color: var(--md-sys-color-on-tertiary-container);

    --md-menu-item-background: var(--md-sys-color-tertiary-container);
    --md-menu-item-selected-background: var(--md-sys-color-tertiary);

    --md-menu-item-color: var(--md-sys-color-on-tertiary-container);
    --md-menu-item-selected-color: var(--md-sys-color-on-tertiary);

    --md-menu-item-label-color: var(--md-sys-color-on-tertiary-container);
    --menu-item-selected-label-color: var(--md-sys-color-on-tertiary);
}

.menu-theme-error {
    --md-menu-background: var(--md-sys-color-error-container);
    --md-menu-section-label-color: var(--md-sys-color-on-error-container);

    --md-menu-item-background: var(--md-sys-color-error-container);
    --md-menu-item-selected-background: var(--md-sys-color-error);

    --md-menu-item-color: var(--md-sys-color-on-error-container);
    --md-menu-item-selected-color: var(--md-sys-color-on-error);

    --md-menu-item-label-color: var(--md-sys-color-on-error-container);
    --menu-item-selected-label-color: var(--md-sys-color-on-error);
}

.menu-theme-neutral {
    --md-menu-background: var(--md-sys-color-surface-container);
    --md-menu-section-label-color: var(--md-sys-color-on-surface-variant);

    --md-menu-item-background: var(--md-sys-color-surface-container);
    --md-menu-item-selected-background: var(
        --md-sys-color-surface-container-high
    );

    --md-menu-item-color: var(--md-sys-color-on-surface-variant);
    --md-menu-item-selected-color: var(--md-sys-color-on-surface);

    --md-menu-item-label-color: var(--md-sys-color-on-surface);
    --menu-item-selected-label-color: var(--md-sys-color-on-surface);
}

.menu-theme-inverse {
    --md-menu-background: var(--md-sys-color-inverse-surface);
    --md-menu-section-label-color: var(--md-sys-color-inverse-on-surface);

    --md-menu-item-background: var(--md-sys-color-inverse-surface);
    --md-menu-item-selected-background: var(--md-sys-color-inverse-primary);

    --md-menu-item-color: var(--md-sys-color-inverse-on-surface);
    --md-menu-item-selected-color: var(--md-sys-color-on-primary);

    --md-menu-item-label-color: var(--md-sys-color-inverse-on-surface);
    --menu-item-selected-label-color: var(--md-sys-color-on-primary);
}

.menu-theme-alt {
    --md-menu-background: var(--md-extended-color-primary-alt-color-container);
    --md-menu-section-label-color: var(
        --md-extended-color-primary-alt-on-color-container
    );

    --md-menu-item-background: var(
        --md-extended-color-primary-alt-color-container
    );
    --md-menu-item-selected-background: var(
        --md-extended-color-primary-alt-color
    );

    --md-menu-item-color: var(
        --md-extended-color-primary-alt-on-color-container
    );
    --md-menu-item-selected-color: var(
        --md-extended-color-primary-alt-on-color
    );

    --md-menu-item-label-color: var(
        --md-extended-color-primary-alt-on-color-container
    );
    --menu-item-selected-label-color: var(
        --md-extended-color-primary-alt-on-color
    );
}
