.preview-parent {
    padding: var(--md-sys-layout-window-size-extra-large-margin);
}

.preview-container {
    padding: var(--md-sys-layout-space-16);
    > h2 {
        margin-block-end: var(--md-sys-layout-space-32);
    }
}

.preview-container__items {
    display: grid;
    gap: 1.25rem;
}

.item-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.item-container [data-card="true"] {
    max-width: 25rem;
    display: grid;
    gap: 1rem;

    p {
        text-align: justify;
    }
}

.button-color {
    display: grid;
    gap: var(--md-sys-layout-space-20);
    text-align: center;

    padding: var(--md-sys-layout-space-16);
    border-radius: var(--md-sys-shape-corner-radius-large);

    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
}

.button-size {
    display: grid;
    gap: var(--md-sys-layout-space-28);
    text-align: center;

    padding-inline: var(--md-sys-layout-space-16);
    padding-block: var(--md-sys-layout-space-24);
    border-radius: inherit;

    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);

    h5 {
        margin: 0;
    }
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--md-sys-layout-space-28);

    align-items: center;
    justify-content: center;
}

.items-grid {
    display: grid;
    gap: var(--md-sys-layout-space-28);
}

.tab-container {
    block-size: 100svb;
    display: grid;

    padding: var(--md-sys-layout-space-16);
}

.tabs {
    &[data-orientation="vertical"] {
        min-block-size: 0;

        > * {
            overflow-y: auto;
        }
    }
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    border-radius: 50%;

    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);

    font-size: 0.75rem;
}

.tag-list {
    display: flex;
    gap: var(--md-sys-layout-space-16);
}

[data-slider-orientation] {
    > div {
        display: inline-grid;
        gap: var(--md-sys-layout-space-4);
        grid-template-rows: auto 1fr;

        > h4 {
            text-align: center;
        }
    }
}

[data-slider-orientation="horizontal"] {
    > div {
        inline-size: 20rem;
    }
}

[data-slider-orientation="vertical"] {
    > div {
        justify-items: center;
        block-size: 20rem;
    }
}
