.primary {
    --theme-background: var(--md-sys-color-primary);
    --theme-color: var(--md-sys-color-on-primary);
}

.primary-variant {
    --theme-background: var(--md-sys-color-primary-variant);
    --theme-color: var(--md-sys-color-on-primary-variant);
}

.secondary {
    --theme-background: var(--md-sys-color-secondary);
    --theme-color: var(--md-sys-color-on-secondary);
}

.tertiary {
    --theme-background: var(--md-sys-color-tertiary);
    --theme-color: var(--md-sys-color-on-tertiary);
}

.error {
    --theme-background: var(--md-sys-color-error);
    --theme-color: var(--md-sys-color-on-error);
}

.inverse-surface {
    --theme-background: var(--md-sys-color-inverse-surface);
    --theme-color: var(--md-sys-color-inverse-on-surface);
}

.success {
    --theme-background: var(--md-sys-color-success);
    --theme-color: var(--md-sys-color-on-success);
}
