/* configurable tokens
*
* --md-toolbar-background
*
* --md-toolbar-button-background
* --md-toolbar-toggle-button-background
* --md-toolbar-toggle-button-selected-background
*
* --md-toolbar-button-color
* --md-toolbar-toggle-button-color
* --md-toolbar-toggle-button-selected-color
*
* configurable tokens end */

@layer adgytec.comps {
    .toolbar {
        --_md-toolbar-background: var(
            --md-toolbar-background,
            var(--_md-toolbar-background-default)
        );
        --_md-toolbar-button-background: var(
            --md-toolbar-button-background,
            var(--_md-toolbar-button-background-default)
        );
        --_md-toolbar-toggle-button-background: var(
            --md-toolbar-toggle-button-background,
            var(--_md-toolbar-toggle-button-background-default)
        );
        --_md-toolbar-toggle-button-selected-background: var(
            --md-toolbar-toggle-button-selected-background,
            var(--_md-toolbar-toggle-button-selected-background-default)
        );
        --_md-toolbar-button-color: var(
            --md-toolbar-button-color,
            var(--_md-toolbar-button-color-default)
        );
        --_md-toolbar-toggle-button-color: var(
            --md-toolbar-toggle-button-color,
            var(--_md-toolbar-toggle-button-color-default)
        );
        --_md-toolbar-toggle-button-selected-color: var(
            --md-toolbar-toggle-button-selected-color,
            var(--_md-toolbar-toggle-button-selected-color-default)
        );

        --md-divider-color: var(--_md-toolbar-button-color);

        --_md-toolbar-space-between-actions: var(--md-sys-layout-space-4);

        border-radius: var(--md-sys-shape-corner-radius-full);
        padding: var(--md-sys-layout-space-8);

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--_md-toolbar-space-between-actions);

        background-color: var(--_md-toolbar-background);

        .section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--_md-toolbar-space-between-actions);
        }

        &[data-variant="floating"] {
            box-shadow: var(--md-sys-elevation-shadow-3);
        }

        &[data-orientation="vertical"] {
            flex-direction: column;

            .section {
                flex-direction: column;
            }
        }
    }

    .toolbar[data-color="standard"] {
        --_md-toolbar-background-default: var(--md-sys-color-surface-container);

        --_md-toolbar-button-background-default: var(
            --md-sys-color-surface-container
        );

        --_md-toolbar-toggle-button-background-default: var(
            --md-sys-color-surface-container
        );

        --_md-toolbar-toggle-button-selected-background-default: var(
            --md-sys-color-secondary-container
        );

        --_md-toolbar-button-color-default: var(
            --md-sys-color-on-surface-variant
        );

        --_md-toolbar-toggle-button-color-default: var(
            --md-sys-color-on-surface-variant
        );

        --_md-toolbar-toggle-button-selected-color-default: var(
            --md-sys-color-on-secondary-container
        );
    }

    .toolbar[data-color="vibrant"] {
        --_md-toolbar-background-default: var(--md-sys-color-primary-container);

        --_md-toolbar-button-background-default: var(
            --md-sys-color-primary-container
        );

        --_md-toolbar-toggle-button-background-default: var(
            --md-sys-color-primary-container
        );

        --_md-toolbar-toggle-button-selected-background-default: var(
            --md-sys-color-surface-container
        );

        --_md-toolbar-button-color-default: var(
            --md-sys-color-on-primary-container
        );

        --_md-toolbar-toggle-button-color-default: var(
            --md-sys-color-on-primary-container
        );

        --_md-toolbar-toggle-button-selected-color-default: var(
            --md-sys-color-on-surface
        );
    }
}

@layer adgytec.overrides {
    .toolbar[data-orientation="horizontal"] [data-divider] {
        block-size: auto;
        align-self: stretch;
    }

    /* button reset */
    .toolbar [data-visual-button] {
        /* outlined button */
        --_md-button-outline-width: 0px;
        border: none;

        /* elevated button */
        box-shadow: none;

        --_md-toggle-button-selected-shape: var(--_md-button-shape);

        &[data-disabled] {
            background-color: transparent;
        }
    }

    .toolbar [data-button]:not([data-color="filled"]),
    .toolbar [data-toggle-button] {
        /* colors */
        --md-button-background: var(--_md-toolbar-button-background);
        --md-toggle-button-selected-background: var(
            --_md-toolbar-toggle-button-selected-background
        );
        --md-toggle-button-background: var(
            --_md-toolbar-toggle-button-background
        );

        --md-button-color: var(--_md-toolbar-button-color);
        --md-toggle-button-selected-color: var(
            --_md-toolbar-toggle-button-selected-color
        );
        --md-toggle-button-color: var(--_md-toolbar-toggle-button-color);
    }
}
