.selected-value {
  [slot="description"] {
    display: none;
  }

  &[data-placeholder] {
    font-style: italic;
  }
}

.options-popover {
  --_options-color: transparent;
  --_options-text: transparent;

  --_bg: var(--_options-color);
  --_color: var(--_options-text);

  background-color: var(--_bg);
  color: var(--_color);

  max-width: min(90vi, 68rem);
  padding-inline: 0.5em;
  padding-block: 0.5em;

  overflow: scroll;

  &.primary {
    --_options-color: var(--color-primary-container);
    --_options-text: var(--color-on-primary-container);
  }

  &.primary-variant {
    --_options-color: var(--color-primary-variant-container);
    --_options-text: var(--color-on-primary-variant-container);
  }

  &.secondary {
    --_options-color: var(--color-secondary-container);
    --_options-text: var(--color-on-secondary-container);
  }

  &.tertiary {
    --_options-color: var(--color-tertiary-container);
    --_options-text: var(--color-on-tertiary-container);
  }

  &.error {
    --_options-color: var(--color-error-container);
    --_options-text: var(--color-on-error-container);
  }

  &[data-placement="bottom"] {
    transform-origin: top left;
  }

  &[data-placement="top"] {
    transform-origin: bottom left;
  }

  &[data-placement="right"] {
    transform-origin: top left;
  }

  &[data-placement="left"] {
    transform-origin: top right;
  }

  &[data-entering] {
    animation: options-animation 250ms;
  }

  &[data-exiting] {
    animation: options-animation 250ms reverse;
  }
}

@keyframes options-animation {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.options-list {
  display: grid;
  gap: 1rem;
}

.options-item-group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  padding-inline: 0.75rem;
  padding-block: 0.5rem;

  color: var(--_item-text);
  background-color: var(--_item-color);

  transition:
    background-color 250ms,
    color 250ms;

  &[data-hovered],
  &[data-focused] {
    --_item-color: hsl(from var(--_options-color) h s calc(l + 10));
    --_item-text: hsl(from var(--_options-text) h s calc(l + 10));
  }

  &[data-selected] {
    --_item-color: hsl(from var(--_options-color) h s calc(l - 10));
    --_item-text: hsl(from var(--_options-text) h s calc(l - 10));
  }
}

.options-item {
  display: grid;
  gap: 0.25em;

  [slot="description"] {
    font-size: 0.875em;
    font-style: italic;
  }
}
