.select {
  display: grid;
  gap: 0.25rem;
}

.selected-value {
  .option-description {
    display: none;
  }

  &[data-placeholder] {
    font-style: italic;
  }
}

.trigger {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  justify-content: space-between;
}

.options-list {
  display: grid;
  gap: 1rem;
  border-radius: inherit;
}

.options-item-group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  border-radius: inherit;

  padding-inline: 0.75rem;
  padding-block: 0.5rem;

  color: var(--_item-text);
  background-color: var(--_item-color);

  transition:
    background-color 250ms,
    color 250ms;

  &[data-hovered],
  &[data-focused] {
    --_item-color: hsl(from var(--_popover-bg) h s calc(l + 10));
    --_item-text: hsl(from var(--_popover-text) h s calc(l + 10));
  }

  &[data-selected] {
    --_item-color: hsl(from var(--_popover-bg) h s calc(l - 10));
    --_item-text: hsl(from var(--_popover-text) h s calc(l - 10));
  }
}

.options-item {
  display: grid;
  gap: 0.25em;

  .option-description {
    font-size: 0.875em;
    font-style: italic;
  }
}
