@layer adgytec.overrides {
    .inactive-track {
        position: relative;

        &[data-orientation="horizontal"] {
            --_inline-size: var(--_range-gap-half);
            --_block-size: var(--_md-slider-track-size);
        }

        &[data-orientation="vertical"] {
            --_block-size: var(--_range-gap-half);
            --_inline-size: var(--_md-slider-track-size);
        }

        &:not([data-active-direction]):not([data-mid]) {
            &::before,
            &:not([data-disabled])::after {
                content: "";
                position: absolute;

                inline-size: var(--_inline-size);
                block-size: var(--_block-size);

                background-color: inherit;
            }

            &[data-track="start"] {
                &[data-orientation="horizontal"] {
                    border-start-end-radius: 0;
                    border-end-end-radius: 0;

                    &::before {
                        inset-inline-end: 0;
                        translate: 100%;

                        border-start-end-radius: var(
                            --_md-slider-track-inner-shape
                        );
                        border-end-end-radius: var(
                            --_md-slider-track-inner-shape
                        );
                    }

                    &::after {
                        inset-inline-end: 0;
                        translate: 50%;
                    }
                }

                &[data-orientation="vertical"] {
                    border-start-end-radius: 0;
                    border-start-start-radius: 0;

                    &::before {
                        inset-block-start: 0;
                        translate: 0 -100%;

                        border-start-end-radius: var(
                            --_md-slider-track-inner-shape
                        );
                        border-start-start-radius: var(
                            --_md-slider-track-inner-shape
                        );
                    }

                    &::after {
                        inset-block-start: 0;
                        translate: 0 -50%;
                    }
                }
            }

            &[data-track="end"] {
                &[data-orientation="horizontal"] {
                    border-start-start-radius: 0;
                    border-end-start-radius: 0;

                    &::before {
                        inset-inline-start: 0;
                        translate: -100%;

                        border-start-start-radius: var(
                            --_md-slider-track-inner-shape
                        );
                        border-end-start-radius: var(
                            --_md-slider-track-inner-shape
                        );
                    }

                    &::after {
                        inset-inline-start: 0;
                        translate: -50%;
                    }
                }

                &[data-orientation="vertical"] {
                    border-end-end-radius: 0;
                    border-end-start-radius: 0;

                    &::before {
                        inset-block-end: 0;
                        translate: 0 100%;

                        border-end-end-radius: var(
                            --_md-slider-track-inner-shape
                        );
                        border-end-start-radius: var(
                            --_md-slider-track-inner-shape
                        );
                    }

                    &::after {
                        inset-block-end: 0;
                        translate: 0 50%;
                    }
                }
            }
        }
    }
}
