@layer adgytec.comps {
    .visual-track {
        --range-gap: calc(var(--track-gap) / 2);

        position: absolute;
        inset: 0;
        z-index: 0;

        border-radius: var(--track-shape);
        display: flex;

        &[data-orientation="horizontal"] {
            inset-inline: var(--orientation-inset);
        }

        &[data-orientation="vertical"] {
            flex-direction: column-reverse;
            inset-block: var(--orientation-inset);
        }
    }

    .track {
        display: flex;
        flex: 1;
        border-radius: var(--track-shape);

        &[data-orientation="horizontal"] {
            &[data-track="initial"] {
                border-start-end-radius: var(--track-inner-shape);
                border-end-end-radius: var(--track-inner-shape);
            }

            &[data-track="final"] {
                border-start-start-radius: var(--track-inner-shape);
                border-end-start-radius: var(--track-inner-shape);
            }
        }

        &[data-orientation="vertical"] {
            flex-direction: column-reverse;

            &[data-track="initial"] {
                border-start-start-radius: var(--track-inner-shape);
                border-start-end-radius: var(--track-inner-shape);
            }

            &[data-track="final"] {
                border-end-start-radius: var(--track-inner-shape);
                border-end-end-radius: var(--track-inner-shape);
            }
        }

        > div {
            transition:
                inline-size var(--motion-spatial) var(--motion-duration),
                block-size var(--motion-spatial) var(--motion-duration);

            @media (prefers-reduced-motion) {
                transition: none;
            }
        }

        gap: var(--range-gap);
        &[data-middle] {
            gap: calc(var(--range-gap) / 2);
        }
    }

    .active-track {
        display: grid;

        > div {
            border-radius: var(--track-inner-shape);
            background-color: var(--track-active-color);
        }

        &[data-active-track] {
            &[data-orientation="horizontal"] {
                &[data-track="initial"] {
                    > div {
                        margin-inline-start: var(--range-gap);
                    }
                }

                &[data-track="final"] {
                    > div {
                        margin-inline-end: var(--range-gap);
                    }
                }
            }

            &[data-orientation="vertical"] {
                &[data-track="initial"] {
                    > div {
                        margin-block-end: var(--range-gap);
                    }
                }

                &[data-track="final"] {
                    > div {
                        margin-block-start: var(--range-gap);
                    }
                }
            }
        }
    }

    .inactive-track {
        background-color: var(--track-inactive-color);
        border-radius: inherit;
    }
}
