@layer adgytec.comps {
    .calendar {
        --calendar-inline-size: calc(360 * var(--dp, 1px));
        --calendar-block-size: calc(456 * var(--dp, 1px));

        display: grid;
        gap: calc(30 * var(--dp, 1px));
        grid-template-rows: auto 1fr;

        min-inline-size: min(100%, var(--calendar-inline-size));
        max-inline-size: var(--calendar-inline-size);
        block-size: var(--calendar-block-size);
        min-block-size: var(--calendar-block-size);
    }

    .docked {
        --calendar-docked-color: var(--md-sys-color-surface-container-high);
        --calendar-header-cell-color: var(--md-sys-color-on-surface);

        --calendar-cell-color: var(--md-sys-color-on-surface);
        --calendar-cell-state-layer-color: var(
            --md-sys-color-on-surface-variant
        );
        --calendar-cell-highlight-background: var(--md-sys-color-primary);
        --calendar-cell-highlight-color: var(--md-sys-color-on-primary);

        --calendar-active-range-background: var(
            --md-sys-color-secondary-container
        );
        --calendar-active-range-color: var(
            --md-sys-color-on-secondary-container
        );

        background-color: var(--calendar-docked-color);
        box-shadow: var(--md-sys-elevation-shadow-3);
        border-radius: var(--md-sys-shape-corner-radius-large);

        padding: var(--md-sys-layout-space-12);
        padding-block-start: var(--md-sys-layout-space-20);
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
