@layer adgytec.comps {
    .supporting {
        color: var(--_md-list-color);

        transition: color var(--md-sys-motion-expressive-fast-effects)
            var(--md-sys-motion-expressive-fast-effects-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }
}
