.menu {
  display: grid;
  gap: 0.5rem;
  border-radius: inherit;
}

.menu-item {
  inline-size: 100%;
  display: grid;
  border-radius: inherit;

  &:not(.item-node) {
    padding-block: 0.375rem;
    padding-inline: 0.5rem;

    color: var(--_item-color);
    background-color: var(--_item-background);

    text-decoration: none;
    cursor: pointer;

    &[data-has-submenu] {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      justify-content: space-between;
    }

    &[data-hovered],
    &[data-focus-visible],
    &[data-open] {
      --_item-background: hsl(from var(--_card-background) h s calc(l + 10));
      --_item-color: hsl(from var(--_card-color) h s calc(l + 10));
    }

    &[data-selected] {
      --_item-background: hsl(from var(--_card-background) h s calc(l - 10));
      --_item-color: hsl(from var(--_card-color) h s calc(l - 10));
    }
  }
}

.separator {
  background-color: var(--color-outline);
  block-size: 0.075rem;

  margin-block: 0.25rem;
}
