.splash {
  position: absolute;
  width: 25%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: hsl(from var(--color-surface-variant) h s l / 0.5);
  animation: ripple 600ms linear;
  opacity: 0;
}

@keyframes ripple {
  from {
    scale: 0;
    opacity: 1;
  }
  to {
    scale: 8;
    opacity: 0;
  }
}
