/* configurable tokens
*
* --md-divider-color
*
* configurable tokens end */

@layer adgytec.comps {
    .divider {
        --_thickness: calc(1 * var(--dp, 1px));
        --_color: var(--md-divider-color, var(--md-sys-color-outline-variant));

        background-color: rgb(
            from var(--_color) r g b /
            var(--md-sys-state-divider)
        );

        inline-size: 100%;
        block-size: var(--_thickness);
        min-block-size: var(--_thickness);

        border: none;
        margin: 0;

        &[aria-orientation="vertical"] {
            block-size: 100%;

            inline-size: var(--_thickness);
            min-inline-size: var(--_thickness);
        }
    }
}
