.card {
  --_card-color: var(--color-on-surface);

  --_card-elevation: var(--elevation-1);
  --_card-radius: var(--radius);

  padding-inline: var(--_card-padding-inline);
  padding-block: var(--_card-padding-block);

  border-radius: var(--_card-radius);
  box-shadow: var(--_card-elevation);

  background: var(--_card-background);
  color: var(--_card-color);
}

.transparent {
  --_card-background: transparent;
}

.solid {
  --_card-background: var(--color-surface-container);
}

.solid-low {
  --_card-background: var(--color-surface-container-low);
}

.solid-lowest {
  --_card-background: var(--color-surface-container-lowest);
}

.solid-high {
  --_card-background: var(--color-surface-container-high);
}

.solid-highest {
  --_card-background: var(--color-surface-container-highest);
}

.gradient {
  --_card-background:
    radial-gradient(
      ellipse at top,
      var(--color-surface-container-low),
      transparent
    ),
    radial-gradient(
      ellipse at bottom,
      var(--color-surface-container-high),
      transparent
    );
}

.none {
  --_card-padding-inline: 0;
  --_card-padding-block: 0;
}

.default {
  --_card-padding-inline: 1rem;
  --_card-padding-block: 1rem;
}
