.modal-overlay {
  background-color: hsl(from var(--color-surface) h s l / 0.5);
  backdrop-filter: blur(0.25rem);

  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}

.modal {
  --_modal-bg: var(--color-surface-container);
  --_modal-text: var(--colol-on-surface);

  max-width: min(90dvi, 60rem);
  max-height: 90dvb;
  overflow: scroll;

  border-radius: var(--radius);

  box-shadow: var(--elevation-1);
  padding-inline: clamp(1rem, 2vi, 1.5rem);
  padding-block: clamp(1rem, 2vi, 1.5rem);

  background-color: var(--_modal-bg);
  color: var(--_modal-text);

  &[data-entering] {
    animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
