@layer adgytec.comps {
    .action-dialog {
        --divider-thickness: calc(1 * var(--dp, 1px));
        --divider-color: rgb(
            from currentColor r g b /
            var(--md-sys-state-divider)
        );

        display: grid;
        grid-template-rows: 1fr;
        padding-inline: 0;

        &[data-dialog-head] {
            grid-template-rows: auto 1fr;

            &[data-actions] {
                grid-template-rows: auto 1fr auto;
            }
        }
    }

    .heading-container {
        color: var(--dialog-icon-color);
        padding-block-end: calc(var(--dialog-title-body-gap) / 2);
        padding-inline: var(--dialog-container-padding);

        display: grid;
        gap: var(--dialog-title-icon-gap);

        &[data-divider] {
            border-block-end: var(--divider-thickness) solid
                var(--divider-color);
        }

        &[data-icon] {
            text-align: center;
            justify-items: center;
        }
    }

    .heading {
        color: var(--dialog-headline-text-color);
    }

    .action-container {
        padding-inline: var(--dialog-container-padding);
        padding-block-start: calc(var(--dialog-body-action-gap) / 2);

        &[data-divider] {
            border-block-start: var(--divider-thickness) solid
                var(--divider-color);
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: var(--dialog-action-gap);
    }

    .body {
        padding-inline: var(--dialog-container-padding);
        overflow: auto;

        margin-block-start: calc(var(--dialog-title-body-gap) / 2);
        margin-block-end: calc(var(--dialog-body-action-gap) / 2);
    }
}
