@layer adgytec.comps {
    .container {
        padding-inline: var(--md-sys-layout-space-8);
        margin-inline: var(--md-sys-layout-space-8);

        border-radius: inherit;
        overflow-y: auto;

        display: grid;
        gap: var(--_md-navigation-items-gap);
        align-content: start;

        &:focus-visible {
            --focus-indicator-thickness: calc(3 * var(--dp, 1px));
            --focus-indicator-offset: calc(2 * var(--dp, 1px));
            --focus-indicator-color: var(--md-sys-color-secondary);

            outline-width: var(--focus-indicator-thickness);
            outline-style: solid;
            outline-offset: var(--focus-indicator-offset);
            outline-color: var(--focus-indicator-color);
        }

        /* 2dp for focus outline offset and 3dp for focus outline width + 1dp to prevent clipping */
        padding-block: calc(6 * var(--dp, 1px));
    }
}
