@layer adgytec.comps {
    .tooltip {
        display: grid;
        gap: var(--md-sys-layout-space-12);

        padding-block-start: var(--md-sys-layout-space-12);
        padding-block-end: var(--md-sys-layout-space-8);

        background-color: var(--md-sys-color-surface-container);
        color: var(--md-sys-color-on-surface-variant);

        border-radius: var(--md-sys-shape-corner-radius-medium);
        box-shadow: var(--md-sys-elevation-shadow-3);
    }
}
