/* configurable tokens
*
* --md-dialog-overlay
*
* configurable tokens end */

@layer adgytec.comps {
    .overlay {
        /* configurable tokens */
        --_md-dialog-overlay: var(
            --md-dialog-overlay,
            var(--md-sys-color-scrim)
        );

        /* configurable tokens end */

        background-color: rgb(
            from var(--_md-dialog-overlay) r g b /
            var(--md-sys-state-backdrop)
        );

        position: fixed;
        inset: 0;
        z-index: 1000;

        display: flex;
        align-items: center;
        justify-content: center;

        &[data-entering] {
            animation: modal-fade
                var(--md-sys-motion-expressive-default-effects)
                var(--md-sys-motion-expressive-default-effects-duration);

            @media (prefers-reduced-motion) {
                animation: none;
            }
        }

        &[data-exiting] {
            animation: modal-fade var(--md-sys-motion-expressive-fast-effects)
                var(--md-sys-motion-expressive-fast-effects-duration) reverse;

            @media (prefers-reduced-motion) {
                animation: none;
            }
        }
    }

    @keyframes modal-fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}
