@layer adgytec.comps {
    .thumb {
        /* thumb */
        --_md-slider-thumb-thickness: var(--md-sys-layout-space-4);
    }

    .extra-small {
        /* thumb */
        --_md-slider-thumb-size: calc(44 * var(--dp, 1px));
    }

    .small {
        /* thumb */
        --_md-slider-thumb-size: calc(44 * var(--dp, 1px));
    }

    .medium {
        /* thumb */
        --_md-slider-thumb-size: calc(52 * var(--dp, 1px));
    }

    .large {
        /* thumb */
        --_md-slider-thumb-size: calc(68 * var(--dp, 1px));
    }

    .extra-large {
        /* thumb */
        --_md-slider-thumb-size: calc(108 * var(--dp, 1px));
    }

    .thumb {
        --_thumb-block-size: var(--_md-slider-thumb-size);
        --_thumb-inline-size: var(--_md-slider-thumb-thickness);

        position: absolute;
        transform-origin: center;

        &[data-orientation="horizontal"] {
            inset-block-start: 50%;
        }

        &[data-orientation="vertical"] {
            --_thumb-block-size: var(--_md-slider-thumb-thickness);
            --_thumb-inline-size: var(--_md-slider-thumb-size);

            inset-inline-start: 50%;
        }

        inline-size: var(--_thumb-inline-size);
        block-size: var(--_thumb-block-size);

        outline: none;
        border-radius: var(--md-sys-shape-corner-radius-full);

        background-color: var(--md-slider-thumb-color);

        transition:
            block-size var(--md-sys-motion-expressive-fast-spatial)
            var(--md-sys-motion-expressive-fast-spatial-duration),
            inline-size var(--md-sys-motion-expressive-fast-spatial)
            var(--md-sys-motion-expressive-fast-spatial-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }

        &[data-z-index-increase] {
            z-index: 1;
        }

        &[data-focus-visible]::before {
            --_focus-indicator-thickness: calc(3 * var(--dp, 1px));
            --_focus-indicator-offset: calc(6 * var(--dp, 1px));
            --_focus-indicator-color: var(--md-sys-color-secondary);

            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;

            z-index: 2;

            outline-width: var(--_focus-indicator-thickness);
            outline-style: solid;
            outline-offset: var(--_focus-indicator-offset);
            outline-color: var(--_focus-indicator-color);
        }

        &[data-dragging],
        &[data-focus-visible] {
            --_md-slider-thumb-thickness: calc(2 * var(--dp, 1px));
        }

        &[data-disabled] {
            background-color: rgb(
                from var(--md-sys-color-on-surface) r g b /
                var(--md-sys-state-disabled-content)
            );
        }
    }
}
