.trigger {
    --rotate: 0;

    &[data-pressed] {
        --rotate: 180deg;
    }

    > svg {
        rotate: var(--rotate);
        transition: rotate var(--md-sys-motion-expressive-fast-spatial)
            var(--md-sys-motion-expressive-fast-spatial-duration);
    }
}
