@layer adgytec.comps {
    .visual-track {
        --range-gap: calc(var(--track-gap) / 2);
        --range-gap-half: calc(var(--range-gap) / 2);

        position: absolute;
        inset: 0;
        z-index: 0;

        border-radius: var(--track-shape);
        display: flex;
        gap: var(--range-gap);

        &[data-orientation="horizontal"] {
            inset-inline: var(--orientation-inset);
        }

        &[data-orientation="vertical"] {
            flex-direction: column-reverse;
            inset-block: var(--orientation-inset);
        }
    }

    .active-track {
        display: grid;

        > div {
            border-radius: var(--track-inner-shape);
            background-color: var(--track-active-color);
        }

        &[data-orientation="horizontal"] {
            > div {
                margin-inline: var(--range-gap);

                &[data-direction="start"] {
                    margin-inline-end: var(--range-gap-half);
                }

                &[data-direction="end"] {
                    margin-inline-start: var(--range-gap-half);
                }
            }
        }

        &[data-orientation="vertical"] {
            > div {
                margin-block: var(--range-gap);

                &[data-direction="start"] {
                    margin-block-start: var(--range-gap-half);
                }

                &[data-direction="end"] {
                    margin-block-end: var(--range-gap-half);
                }
            }
        }
    }

    .inactive-track {
        background-color: var(--track-inactive-color);
        border-radius: var(--track-shape);

        &[data-orientation="horizontal"] {
            &[data-track="start"] {
                border-start-end-radius: var(--track-inner-shape);
                border-end-end-radius: var(--track-inner-shape);
            }

            &[data-track="end"] {
                border-start-start-radius: var(--track-inner-shape);
                border-end-start-radius: var(--track-inner-shape);
            }
        }

        &[data-orientation="vertical"] {
            &[data-track="start"] {
                border-start-end-radius: var(--track-inner-shape);
                border-start-start-radius: var(--track-inner-shape);
            }

            &[data-track="end"] {
                border-end-end-radius: var(--track-inner-shape);
                border-end-start-radius: var(--track-inner-shape);
            }
        }
    }
}
