@layer adgytec.comps {
    .modal {
        &[data-entering] {
            animation: modal-zoom var(--md-sys-motion-expressive-fast-spatial)
                var(--md-sys-motion-expressive-fast-spatial-duration);

            @media (prefers-reduced-motion) {
                animation: none;
            }
        }
    }

    @keyframes modal-zoom {
        from {
            transform: scale(0.75);
        }

        to {
            transform: scale(1);
        }
    }
}
