@layer adgytec.comps {
    .calendar {
        --calendar-inline-size: calc(360 * var(--dp, 1px));

        /* removed text button and its gap height: 44dp */
        --calendar-block-size: calc(412 * var(--dp, 1px));

        display: grid;
        gap: calc(30 * var(--dp, 1px));
        grid-template-rows: auto 1fr;

        background-color: var(--md-sys-color-surface-container-high);
        box-shadow: var(--md-sys-elevation-shadow-3);
        border-radius: var(--md-sys-shape-corner-radius-large);

        min-inline-size: min(100%, var(--calendar-inline-size));
        block-size: var(--calendar-block-size);
        min-block-size: var(--calendar-block-size);

        padding: var(--md-sys-layout-space-12);
        padding-block-start: var(--md-sys-layout-space-20);
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header {
        color: var(--md-sys-color-on-surface);
    }

    .header-cell {
        padding-block-end: var(--md-sys-layout-space-16);
    }
}
