.avatar {
    /* base size */
    --_base-inline-size: 1rem;
    --_base-font-size: 1rem;

    /* final size */
    --_inline-size: calc(
        var(--_base-inline-size) *
        var(--_inline-size-multiplier)
    );
    --_font-size: calc(var(--_base-font-size) * var(--_font-multiplier));

    /* color values */
    --_avatar-bg: var(--theme-background);
    --_avatar-color: var(--theme-color);

    inline-size: var(--_inline-size);
    font-size: var(--_font-size);
    aspect-ratio: 1 / 1;

    border-radius: var(--radius-circular);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: var(--font-weight-bold);
    text-transform: uppercase;

    background-color: var(--_avatar-bg);
    color: var(--_avatar-color);
}

.inherit {
    --_avatar-bg: transparent;
    --_avatar-color: inherit;
}

.image {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
}

/* avatar sizes */
.small {
    --_inline-size-multiplier: 2;
    --_font-multiplier: 0.875;
}

.normal {
    --_inline-size-multiplier: 2.5;
    --_font-multiplier: 1;
}

.large {
    --_inline-size-multiplier: 3;
    --_font-multiplier: 1.125;
}
