.button-reset {
    all: unset;
    cursor: pointer;
    position: relative;

    &[data-disabled] {
        cursor: default;
    }

    &[data-pending] {
        cursor: default;
    }
}

.button-core {
    position: relative;
    overflow: hidden;

    transition:
        border-radius var(--md-sys-motion-expressive-fast-spatial)
        var(--md-sys-motion-expressive-fast-spatial-duration),
        background-color var(--md-sys-motion-expressive-fast-effects)
        var(--md-sys-motion-expressive-fast-effects-duration),
        color var(--md-sys-motion-expressive-fast-effects)
        var(--md-sys-motion-expressive-fast-effects-duration),
        border-color var(--md-sys-motion-expressive-fast-effects)
        var(--md-sys-motion-expressive-fast-effects-duration),
        box-shadow var(--md-sys-motion-expressive-fast-spatial)
        var(--md-sys-motion-expressive-fast-spatial-duration),
        padding var(--md-sys-motion-expressive-fast-spatial)
        var(--md-sys-motion-expressive-fast-spatial-duration);

    @media (prefers-reduced-motion) {
        transition: none;
    }
}
