/* configurable tokens
*
* --md-button-background
* --md-toggle-button-selected-background
* --md-toggle-button-background
*
* --md-button-outline-color
* --md-toggle-button-selected-outline-color
* --md-toggle-button-outline-color
*
* --md-button-color
* --md-toggle-button-selected-color
* --md-toggle-button-color
*
* configurable tokens end */

@layer adgytec.overrides {
    .outlined {
        --_md-button-padding-block: calc(
            var(--_md-button-padding-block-base) -
            var(--_md-button-outline-width, 0)
        );
    }
}

@layer adgytec.comps {
    .color {
        --_md-button-background: var(
            --md-button-background,
            var(--_md-button-background-default)
        );
        --_md-toggle-button-selected-background: var(
            --md-toggle-button-selected-background,
            var(--_md-toggle-button-selected-background-default)
        );
        --_md-toggle-button-background: var(
            --md-toggle-button-background,
            var(--_md-toggle-button-background-default)
        );

        --_md-button-color: var(
            --md-button-color,
            var(--_md-button-color-default)
        );
        --_md-toggle-button-selected-color: var(
            --md-toggle-button-selected-color,
            var(--_md-toggle-button-selected-color-default)
        );
        --_md-toggle-button-color: var(
            --md-toggle-button-color,
            var(--_md-toggle-button-color-default)
        );

        --_md-button-outline-color: var(
            --md-button-outline-color,
            var(--_md-button-outline-color-default)
        );
        --_md-toggle-button-outline-color: var(
            --md-toggle-button-outline-color,
            var(--_md-toggle-button-outline-color-default)
        );
        --_md-toggle-button-selected-outline-color: var(
            --md-toggle-button-selected-outline-color,
            var(--_md-toggle-button-selected-outline-color-default)
        );

        --_outline-color: var(--_md-button-outline-color, transparent);

        /* state layer */
        --_md-button-state-layer: var(--_md-button-color, transparent);
        --_md-toggle-button-state-layer: var(
            --_md-toggle-button-color,
            transparent
        );
        --_md-toggle-button-selected-state-layer: var(
            --_md-toggle-button-selected-color,
            transparent
        );

        --_state-color: var(--_md-button-state-layer);
        --_state-layer-opacity: 0;

        --_state-layer-color: rgb(
            from var(--_state-color) r g b /
            var(--_state-layer-opacity)
        );

        /* variable to use */
        --_background-color: var(--_md-button-background, transparent);
        --_color: var(--_md-button-color, transparent);

        /* styles */
        background-color: var(--_background-color);
        color: var(--_color);

        &[data-toggle-button] {
            --_background-color: var(
                --_md-toggle-button-background,
                transparent
            );
            --_color: var(--_md-toggle-button-color, transparent);
            --_outline-color: var(
                --_md-toggle-button-outline-color,
                transparent
            );

            --_state-color: var(--_md-toggle-button-state-layer);
        }

        &[data-selected] {
            --_background-color: var(
                --_md-toggle-button-selected-background,
                transparent
            );
            --_color: var(--_md-toggle-button-selected-color, transparent);
            --_outline-color: var(
                --_md-toggle-button-selected-outline-color,
                transparent
            );

            --_state-color: var(--_md-toggle-button-selected-state-layer);
        }

        &[data-hovered] {
            --_state-layer-opacity: var(--md-sys-state-hover);
        }

        &[data-focus-visible] {
            --_state-layer-opacity: var(--md-sys-state-focus);
        }

        &[data-pressed] {
            --_state-layer-opacity: var(--md-sys-state-pressed);
        }

        &[data-disabled] {
            --_background-color: rgb(
                from var(--md-sys-color-on-surface) r g b /
                var(--md-sys-state-disabled-container)
            );
            --_color: rgb(
                from var(--md-sys-color-on-surface) r g b /
                var(--md-sys-state-disabled-content)
            );
        }
    }

    /* state layer */
    .color::before {
        content: "";

        position: absolute;
        inset: 0;
        border-radius: inherit;

        background-color: var(--_state-layer-color);

        transition: background-color var(--md-sys-motion-standard-fast-spatial)
            var(--md-sys-motion-standard-fast-spatial-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }

    /* focus indicator */
    .color[data-focus-visible] {
        --focus-indicator-thickness: calc(3 * var(--dp, 1px));
        --focus-indicator-offset: calc(2 * var(--dp, 1px));
        --focus-indicator-color: var(--md-sys-color-secondary);

        outline-width: var(--focus-indicator-thickness);
        outline-style: solid;
        outline-offset: var(--focus-indicator-offset);
        outline-color: var(--focus-indicator-color);

        z-index: 1;
    }

    .filled {
        /* background */
        --_md-button-background-default: var(--md-sys-color-primary);
        --_md-toggle-button-selected-background-default: var(
            --md-sys-color-primary
        );
        --_md-toggle-button-background-default: var(
            --md-sys-color-surface-container
        );

        /* text and icon */
        --_md-button-color-default: var(--md-sys-color-on-primary);
        --_md-toggle-button-selected-color-default: var(
            --md-sys-color-on-primary
        );
        --_md-toggle-button-color-default: var(
            --md-sys-color-on-surface-variant
        );
    }

    .tonal {
        /* background */
        --_md-button-background-default: var(
            --md-sys-color-secondary-container
        );
        --_md-toggle-button-selected-background-default: var(
            --md-sys-color-secondary
        );
        --_md-toggle-button-background-default: var(
            --md-sys-color-secondary-container
        );

        /* text and icon */
        --_md-button-color-default: var(--md-sys-color-on-secondary-container);
        --_md-toggle-button-selected-color-default: var(
            --md-sys-color-on-secondary
        );
        --_md-toggle-button-color-default: var(
            --md-sys-color-on-secondary-container
        );
    }

    .outlined {
        /* outline */
        --_md-button-outline-color-default: var(--md-sys-color-outline-variant);
        --_md-toggle-button-outline-color-default: var(
            --md-sys-color-outline-variant
        );

        /* background */
        --_md-toggle-button-selected-background-default: var(
            --md-sys-color-inverse-surface
        );

        /* text and icon */
        --_md-button-color-default: var(--md-sys-color-on-surface-variant);
        --_md-toggle-button-selected-color-default: var(
            --md-sys-color-inverse-on-surface
        );
        --_md-toggle-button-color-default: var(
            --md-sys-color-on-surface-variant
        );

        [data-visual-button] {
            /* styles limited to outlined color */
            border-width: var(--_md-button-outline-width);
            border-style: solid;
            border-color: var(--_outline-color);
        }
    }

    /* no toggle button states are there */
    .text {
        /* text and icon */
        --_md-button-color-default: var(--md-sys-color-primary);
    }

    .standard {
        /* text and icon */
        --_md-button-color-default: var(--md-sys-color-on-surface-variant);
        --_md-toggle-button-selected-color-default: var(--md-sys-color-primary);
        --_md-toggle-button-color-default: var(
            --md-sys-color-on-surface-variant
        );

        &[data-disabled] {
            --_background-color: transparent;
        }
    }

    .elevated {
        /* background */
        --_md-button-background-default: var(
            --md-sys-color-surface-container-low
        );
        --_md-toggle-button-selected-background-default: var(
            --md-sys-color-primary
        );
        --_md-toggle-button-background-default: var(
            --md-sys-color-surface-container-low
        );

        /* text and icon */
        --_md-button-color-default: var(--md-sys-color-primary);
        --_md-toggle-button-selected-color-default: var(
            --md-sys-color-on-primary
        );
        --_md-toggle-button-color-default: var(--md-sys-color-primary);

        [data-visual-button] {
            /* styles limited to elevated color */
            box-shadow: var(--md-sys-elevation-shadow-1);

            &[data-disabled] {
                box-shadow: none;
            }
        }
    }
}
