.tooltip {
    background-color: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);

    padding-inline: var(--md-sys-layout-space-8);
    padding-block: var(--md-sys-layout-space-4);

    max-inline-size: calc(300 * var(--dp, 1px));
    border-radius: var(--md-sys-shape-corner-radius-extra-small);
}
