.tooltip {
  font-size: 0.875rem;
  text-align: center;

  background-color: var(--_bg);
  color: var(--_color);

  padding-inline: 0.75em;
  padding-block: 0.5em;

  outline: none;
  max-width: 15rem;

  margin: 0.625rem;
  border-radius: var(--radius);

  box-shadow: var(--elevation-1);

  transition:
    transform 250ms,
    opacity 250ms;
  transform: translate3d(0, 0, 0);

  &[data-placement="bottom"] {
    --_origin: translateY(-0.25rem);

    .tooltip-arrow svg {
      rotate: 180deg;
    }
  }

  &[data-placement="top"] {
    --_origin: translateY(0.25rem);
  }

  &[data-placement="right"] {
    --_origin: translateX(-0.25rem);
    .tooltip-arrow svg {
      rotate: 90deg;
    }
  }

  &[data-placement="left"] {
    --_origin: translateX(0.25rem);
    .tooltip-arrow svg {
      rotate: -90deg;
    }
  }

  &[data-entering],
  &[data-exiting] {
    transform: var(--_origin);
    opacity: 0;
  }
}

.tooltip-arrow {
  svg {
    display: block;
    fill: var(--_bg);
    inline-size: 0.625rem;
    aspect-ratio: 1/1;
  }
}

/* tooltip theme */
.primary {
  --_bg: var(--color-primary-container);
  --_color: var(--color-on-primary-container);
}

.primary-variant {
  --_bg: var(--color-primary-variant-container);
  --_color: var(--color-on-primary-variant-container);
}

.secondary {
  --_bg: var(--color-secondary-container);
  --_color: var(--color-on-secondary-container);
}

.tertiary {
  --_bg: var(--color-tertiary-container);
  --_color: var(--color-on-tertiary-container);
}

.error {
  --_bg: var(--color-error-container);
  --_color: var(--color-on-error-container);
}

.inverse-surface {
  --_bg: var(--color-surface-container);
  --_color: var(--color-on-surface);
}

.success {
  --_bg: var(--color-success-container);
  --_color: var(--color-on-success-container);
}
