@layer adgytec.comps {
    .dialog {
        /* spacing */
        --dialog-action-gap: var(--md-sys-layout-space-8);
        --dialog-title-body-gap: var(--md-sys-layout-space-16);
        --dialog-title-icon-gap: var(--md-sys-layout-space-16);
        --dialog-body-action-gap: var(--md-sys-layout-space-24);
        --dialog-container-padding: var(--md-sys-layout-space-24);

        padding: var(--dialog-container-padding);
        border-radius: inherit;

        --separator-color: currentcolor;
    }
}
