/* configurable tokens
*
* --md-menu-background
* --md-menu-section-label-color
*
* --md-menu-item-background
* --md-menu-item-selected-background
*
* --md-menu-item-color
* --md-menu-item-selected-color
*
* --md-menu-item-label-color
* --menu-item-selected-label-color
*
* configurable tokens end */

@layer adgytec.comps {
    /* this is used by individual menu items */
    .color {
        /* state layer */
        --_state-color: var(--_label-color);
        --_state-layer-opacity: 0;

        --_state-layer-color: rgb(
            from var(--_state-color) r g b /
            var(--_state-layer-opacity)
        );

        /* variables to use */
        --_background-color: var(--_md-menu-item-background);
        --_color: var(--_md-menu-item-color);
        --_label-color: var(--_md-menu-item-label-color);

        /* styles */
        background-color: var(--_background-color);
        color: var(--_color);

        &[data-selected] {
            --_background-color: var(--_md-menu-item-selected-background);
            --_color: var(--_md-menu-item-selected-color);
            --_label-color: var(--_menu-item-selected-label-color);
        }

        &[data-hovered] {
            --_state-layer-opacity: var(--md-sys-state-hover);
        }

        &[data-focus-visible] {
            --_state-layer-opacity: var(--md-sys-state-focus);
        }

        &[data-open] {
            --_state-layer-opacity: 0.08;
        }

        &[data-pressed] {
            --_state-layer-opacity: var(--md-sys-state-pressed);
        }

        &[data-disabled] {
            --_label-color: rgb(
                from var(--_md-menu-item-label-color) r g b /
                var(--md-sys-state-disabled-content)
            );
            --_color: var(--_label-color);

            &[data-selected] {
                --_background-color: rgb(
                    from var(--_md-menu-item-selected-background) r g b /
                    var(--md-sys-state-disabled-container)
                );
                --_label-color: rgb(
                    from var(--_menu-item-selected-label-color) r g b /
                    var(--md-sys-state-disabled-content)
                );
            }
        }
    }

    /* state layer */
    .color::before {
        content: "";

        position: absolute;
        inset: 0;
        border-radius: inherit;

        background-color: var(--_state-layer-color);

        transition: background-color var(--md-sys-motion-standard-fast-spatial)
            var(--md-sys-motion-standard-fast-spatial-duration);

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }

    /* focus indicator */
    .color[data-focus-visible] {
        --focus-indicator-thickness: calc(3 * var(--dp, 1px));
        --focus-indicator-offset: calc(2 * var(--dp, 1px));
        --focus-indicator-color: var(--md-sys-color-secondary);

        outline-width: var(--focus-indicator-thickness);
        outline-style: solid;
        outline-offset: var(--focus-indicator-offset);
        outline-color: var(--focus-indicator-color);
        z-index: 1;
    }

    /* menu label */
    .label {
        color: var(--_label-color);
    }

    .menu-color {
        --_md-menu-background: var(
            --md-menu-background,
            var(--_md-menu-background-default)
        );
        --_md-menu-section-label-color: var(
            --md-menu-section-label-color,
            var(--_md-menu-section-label-color-default)
        );

        /* menu item */

        /* background */
        --_md-menu-item-background: var(
            --md-menu-item-background,
            var(--_md-menu-item-background-default)
        );
        --_md-menu-item-selected-background: var(
            --md-menu-item-selected-background,
            var(--_md-menu-item-selected-background-default)
        );

        /* color */
        --_md-menu-item-color: var(
            --md-menu-item-color,
            var(--_md-menu-item-color-default)
        );
        --_md-menu-item-selected-color: var(
            --md-menu-item-selected-color,
            var(--_md-menu-item-selected-color-default)
        );

        /* label color */
        --_md-menu-item-label-color: var(
            --md-menu-item-label-color,
            var(--_md-menu-item-label-color-default)
        );
        --_menu-item-selected-label-color: var(
            --menu-item-selected-label-color,
            var(--_menu-item-selected-label-color-default)
        );

        --md-divider-color: var(--_md-menu-item-color);
    }

    .standard {
        --_md-menu-background-default: var(
            --md-sys-color-surface-container-low
        );
        --_md-menu-section-label-color-default: var(
            --md-sys-color-on-surface-variant
        );

        /* menu item */

        /* background */
        --_md-menu-item-background-default: var(
            --md-sys-color-surface-container-low
        );
        --_md-menu-item-selected-background-default: var(
            --md-sys-color-tertiary-container
        );

        /* color */
        --_md-menu-item-color-default: var(--md-sys-color-on-surface-variant);
        --_md-menu-item-selected-color-default: var(
            --md-sys-color-on-tertiary-container
        );

        /* label color */
        --_md-menu-item-label-color-default: var(--md-sys-color-on-surface);
        --_menu-item-selected-label-color-default: var(
            --md-sys-color-on-tertiary-container
        );
    }

    .vibrant {
        --_md-menu-background-default: var(--md-sys-color-tertiary-container);
        --_md-menu-section-label-color-default: var(
            --md-sys-color-on-tertiary-container
        );

        /* menu item */

        /* background */
        --_md-menu-item-background-default: var(
            --md-sys-color-tertiary-container
        );
        --_md-menu-item-selected-background-default: var(
            --md-sys-color-tertiary
        );

        /* color */
        --_md-menu-item-color-default: var(
            --md-sys-color-on-tertiary-container
        );
        --_md-menu-item-selected-color-default: var(--md-sys-color-on-tertiary);

        /* label color */
        --_md-menu-item-label-color-default: var(
            --md-sys-color-on-tertiary-container
        );
        --_menu-item-selected-label-color-default: var(
            --md-sys-color-on-tertiary
        );
    }
}
