.layout {
    /* menu container or menu section elevation based on layout */
    --menu-container-elevation: var(--md-sys-elevation-shadow-3);

    /* gap between menu section and menu items */
    --menu-gap: calc(2 * var(--dp, 1px));

    /* menu padding or menu section padding based on layout */
    --menu-padding: var(--md-sys-layout-space-4);

    /* max height for menu item */
    /* this value is not used its for refrence for other values to calc padding block values */
    --menu-item-height: calc(44 * var(--dp, 1px));

    /* when menu item doesn't have supporting text */
    /* (height(44) - label line height(20) ) / 2 = 12 */
    --menu-item-padding-block-normal: var(--md-sys-layout-space-12);

    /* when menu item has supporting text */
    /* (height(44) - (label line height(20) + supporting text line height(16) + gap between label and text(2)) / 2 = 3 */
    --menu-item-padding-block-supporting-text: calc(3 * var(--dp, 1px));

    /* token value is 16 = menu padding(4) + menu item acutal padding inline(12) */
    --menu-item-padding-inline: var(--md-sys-layout-space-12);

    /* gap between menu item comps */
    --menu-item-gap: var(--md-sys-layout-space-8);
    --menu-item-label-supporting-text-gap: calc(2 * var(--dp, 1px));
}
