.shape {
    /* outer shape for menu or menu section based on layout */
    --menu-container-shape: var(--md-sys-shape-corner-radius-large);
    --menu-container-shape-disabled: var(--md-sys-shape-corner-radius-small);

    /* inner shape for menu sections */
    --menu-section-shape: var(--md-sys-shape-corner-radius-small);

    /* default shape for all menu items */
    --menu-item-shape: var(--md-sys-shape-corner-radius-extra-small);

    /* shape for first and last menu item */
    /* this shape if for actual first and last menu item in all menu sections if using menu section */
    --menu-item-outer-shape: var(--md-sys-shape-corner-radius-medium);

    /* when menu item is selected */
    --menu-item-selected-shape: var(--md-sys-shape-corner-radius-medium);
}
