.tree {
  display: grid;
  gap: 1em;
}

.tree-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: underline transparent;

  font-size: var(--_tree-font-size);
  cursor: context-menu;
  padding-inline-start: calc(var(--tree-item-level) * 1em);
  transition: text-decoration-color 250ms;

  &:not([data-node]) {
    cursor: pointer;
  }

  &[data-link] {
    &[data-hovered],
    &[data-focus-visible] {
      text-decoration-color: currentColor;
    }
  }

  svg {
    transition: rotate 250ms;
    width: 0.875em;
  }

  &[data-expanded] {
    svg {
      rotate: 90deg;
    }
  }
}
