@layer adgytec.comps {
    .panel {
        height: var(--disclosure-panel-height);

        transition: height var(--md-sys-motion-expressive-fast-spatial)
            var(--md-sys-motion-expressive-fast-spatial-duration);
        overflow: clip;

        @media (prefers-reduced-motion) {
            transition: none;
        }

        > div {
            padding-block-start: var(--spacing);
        }
    }
}
