.link {
  --_link-text: transparent;
  --_color: var(--_link-text);

  cursor: pointer;

  font-weight: var(--font-weight-medium);
  text-underline-offset: 0.125em;
  text-decoration-thickness: 0.075em;
  text-decoration-color: transparent;

  color: var(--_color);
  transition:
    color 250ms,
    text-decoration-color 250ms;

  &[data-hovered="true"],
  &[data-focus-visible="true"] {
    --_color: hsl(from var(--_link-text) h s calc(l + 10));
    text-decoration-color: currentColor;
  }

  &[data-pressed="true"] {
    --_color: hsl(from var(--_link-text) h s calc(l - 5));
  }

  &[data-underline] {
    text-decoration-color: currentColor;
  }
}

/* link theme */
.primary {
  --_link-text: var(--color-primary);
}

.primary-variant {
  --_link-text: var(--color-primary-variant);
}

.secondary {
  --_link-text: var(--color-secondary);
}

.tertiary {
  --_link-text: var(--color-tertiary);
}

.error {
  --_link-text: var(--color-error);
}

.inverse-surface {
  --_link-text: var(--color-inverse-surface);
}

.success {
  --_link-text: var(--color-success);
}
