@layer adgytec.comps {
    .selector {
        display: grid;
        gap: var(--md-sys-layout-space-24);
    }

    .theme-item {
        display: grid;
        gap: var(--md-sys-layout-space-16);
    }
}
